[2015-04-01 16:38] pelikhan opened #1 "remove/disable examplemod"
Great mod! Is it possible to remove the "built-in" example mod?

[2015-04-01 16:40] pelikhan opened #2 "support for localStorage, application cache"
It seems that the browser always starts without any prior data. Is there a way to enable AppCache and localStorage?

[2015-04-03 05:15] pelikhan commented on #2
settings the ``cache_path`` field on the ``CefSettings`` should be enough to enable this feature.

[2015-04-03 13:06] montoyo commented on #2
Hello!
Thanks for your contribution, I'll add this (and a way to disable the example browser) in the 1.8 update.

[2015-04-03 13:52] #1 closed

[2015-04-03 13:52] #2 closed

[2015-04-03 14:19] pelikhan opened #3 "(noob) better instructions on developing mod with mcef"
Would you mind adding more details about developing a mod with mcef? When adding the MCEF .jar file to the /eclipse/mods, the Minecraft client fails during the loading of the MCEF package (which seems to be a versioning issue).

To get it working, I end up having to run ``gradlew build`` then copy the my compiled mod into the non-dev Minecraft Forge mods folder.

[2015-04-03 15:14] montoyo commented on #3
Oh... right I tried and I'm having the same problem. I thought Forge was able to load obfuscated mods in a deobfuscated environment, but obviously it can't :S sorry about that.
In the meantime, I think the best way is to clone the MCEF repository in your workspace. I'll write a tutorial asap.
Thanks!

[2015-04-03 22:33] #3 closed

[2015-04-08 03:52] pelikhan opened #4 ""downloading jcef.dll" keeps poping back..."
I'm wondering why it keeps poping back when running Minecraft again. isn't it cached?

[2015-04-08 04:05] pelikhan opened #5 "java + mcef process won't shut down"
The Minecraft project and MCEF helper process won't completely shutdown after use. Does the CEF runtime need to be notified that the process is shutting down?

[2015-04-08 10:38] montoyo commented on #4
Ah... it seems one of my mirror is not up-to-date. I'll fix this asap.
Thanks!

[2015-04-08 12:44] pelikhan commented on #4
Could you give more details about your mirrors? Is there a way to avoid them?

[2015-04-08 14:06] montoyo commented on #4
The DLLs that requires MCEF are downloaded from websites (aka mirrors), and right now there are two available mirrors: my website (http://montoyo.net/jcef) and a friend's website (http://montoyo.iroas.fr/jcef). MCEF parses config.json (which contains the checksums of every DLLs) and downloads the corresponding DLLs depending on the client's OS (win64/win32). The config.json also contains informati

[2015-04-08 14:18] pelikhan commented on #4
Is there a way to avoid your mirrors and download the jcef.dll from the official drop location?

Sent from Outlook<http://taps.io/outlookmobile>

On Wed, Apr 8, 2015 at 7:06 AM -0700, "Nicolas" <notifications@github.com<mailto:notifications@github.com>> wrote:

The DLLs that requires MCEF are downloaded from websites (aka mirrors), and right now there are two available mirrors: my website (http://

[2015-04-08 14:29] montoyo commented on #4
Excuse me; by "official drop location", you mean the JCEF google code? As far as I know, they don't provide the latest DLL. Anyway, MCEF requires a modified version of it to work, because MinecraftForge does weird things with classloaders which I fix by using CefApp.N_SetClassLoader() (see https://github.com/montoyo/mcef/blob/master/java/org/cef/CefApp.java#L489).

Otherwise, the official drop loc

[2015-04-08 14:33] montoyo commented on #5
Interesting... I thought I fixed this bug with the 0.5 release... anyway, this never happend on my computer, so it's hard to fix it. Do you close Minecraft using the window's close button or Minecraft's quit button? Which version of java are you using?
Thanks a lot for your contribution!

[2015-04-08 14:35] pelikhan commented on #4
I see. Do you have instructions to build your modified jcef files?

Have you thought about using github releases to store your compiled files?

Sent from Outlook<http://taps.io/outlookmobile>

On Wed, Apr 8, 2015 at 7:29 AM -0700, "Nicolas" <notifications@github.com<mailto:notifications@github.com>> wrote:

Excuse me; by "official drop location", you mean the JCEF google code? As far as I know, th

[2015-04-08 14:44] montoyo commented on #4
Let me push what I modified on github. To compile JCEF, you can follow the instructions here: https://bitbucket.org/chromiumembedded/java-cef/wiki/BranchesAndBuilding
When it was hosted on google code, I took the revision 113, but now that they moved to bitbucket... I have no idea.

[2015-04-08 14:45] montoyo commented on #4
You can still access the old SVN to get the revision 113 from http://javachromiumembedded.googlecode.com/svn/trunk/

[2015-04-08 14:47] pelikhan commented on #4
http://google-opensource.blogspot.com/2015/03/farewell-to-google-code.html?m=1

Sent from Outlook<http://taps.io/outlookmobile>

On Wed, Apr 8, 2015 at 7:44 AM -0700, "Nicolas" <notifications@github.com<mailto:notifications@github.com>> wrote:

Let me push what I modified on github. To compile JCEF, you can follow the instructions here: https://bitbucket.org/chromiumembedded/java-cef/wiki/Branches

[2015-04-08 14:48] montoyo commented on #4
Yea... that's sad

[2015-04-08 15:34] montoyo commented on #4
Okay, I pushed the modified JCEF native files and added the custom mirror option (see the config file).

[2015-04-08 15:48] pelikhan commented on #4
Sweet, is it possible to setup the configure MCEF programmatically?

Sent from Outlook<http://taps.io/outlookmobile>

On Wed, Apr 8, 2015 at 8:34 AM -0700, "Nicolas" <notifications@github.com<mailto:notifications@github.com>> wrote:

Okay, I pushed the modified JCEF native files and added the custom mirror option (see the config file).

-
Reply to this email directly or view it on GitHub<https://g

[2015-04-08 15:52] montoyo commented on #4
Well you may change net.montoyo.mcef.MCEF.FORCE_MIRROR but it has to be done after MCEF's  pre-init and before MCEF's initialization. There's no API function to do change this field, but you can use reflection.

[2015-04-08 16:25] pelikhan commented on #5
Closing the windows always, windows 8.1, Java latest.

Sent from Outlook<http://taps.io/outlookmobile>

On Wed, Apr 8, 2015 at 7:33 AM -0700, "Nicolas" <notifications@github.com<mailto:notifications@github.com>> wrote:

Interesting... I thought I fixed this bug with the 0.5 release... anyway, this never happend on my computer, so it's hard to fix it. Do you close Minecraft using the window's close

[2015-04-08 16:29] pelikhan commented on #4
Would you be so kind to document how you sync and build all this in the readme.md file? I'd like also to repro the build process locally.

Also, what file structure do you expect on your mirrors?

Sent from Outlook<http://taps.io/outlookmobile>

On Wed, Apr 8, 2015 at 8:34 AM -0700, "Nicolas" <notifications@github.com<mailto:notifications@github.com>> wrote:

Okay, I pushed the modified JCEF nativ

[2015-04-08 16:35] pelikhan commented on #4
Is config.json in the repo?

Sent from Outlook<http://taps.io/outlookmobile>

On Wed, Apr 8, 2015 at 8:34 AM -0700, "Nicolas" <notifications@github.com<mailto:notifications@github.com>> wrote:

Okay, I pushed the modified JCEF native files and added the custom mirror option (see the config file).

-
Reply to this email directly or view it on GitHub<https://github.com/montoyo/mcef/issues/4#issuecom

[2015-04-29 20:26] pelikhan opened #6 "support for App Cache for 1.7.10"
Would it be possible to a have a small update to MCEF 0.4 to support AppCache? Unfortunately, MinecraftEDU is not supporting Minecraft 1.8 yet and this feature really helps the usability.

[2015-08-12 06:42] JordekFluffball opened #7 "Compiling Natives for Mac"
Hi Montoyo,

I'm interested in doing whatever it takes to help you compile the JCEF natives for Mac. I have access to a Mac and I have some programming experience in Java and C++.

I know you made some changes from the original natives, so can give me some guidance on what natives I need to compile / what changes I need to make?

I assume I can follow the instructions at https://bitbucket.org/chro

[2015-08-12 08:53] montoyo commented on #7
Hello,
I am glad to finally find somone who can help with the Mac stuff. However keep in mind that I never used XCode nor any iOS IDEs, so I won't be able to help you with the configuring stuff...

I recently moved from the rev 113 to a newer git revision but unfortunately I am in vacations (far away from my main computer) and I can't remember which rev I used. The latest release will probably wor

[2015-08-12 23:23] JordekFluffball commented on #7
I have a lot of experience with Xcode, it won't be a problem.

Okay, I downloaded the latest release of JCEF, but it looks like I need to build the binary for the 3.2357.1286.gf615d24 release of CEF in order to compile JCEF (it's missing from https://cefbuilds.com). It is taking a long time.

I guess I'll post my changed files and the build to a git repo when I'm done.

[2015-08-13 04:39] JordekFluffball commented on #7
Haha, after 5 hours the build of CEF failed.

I will instead use JCEF from commit 153ef9e, with CEF 3.2357.1276.gd4b589c because it is already built. I just built it successfully, so I will edit the files and rebuild it.

[2015-08-13 10:29] montoyo commented on #7
Yeah, I also failed at compiling CEF so I took it already compiled from cefbuilds.com (sorry I completely forgot to mention that :anguished: )

Anyway, I've never heard about this bug, maybe try another commit (they should all be compatible with MCEF). Also keep in mind that MCEF is using off-screen rendering, which is different from the rendering used by the tests. (Btw, MCEF resizes the view at

[2015-08-13 12:37] spannerman79 opened #8 "Expression of Interest (Linux)"
I would like to voice my expression of interest of a linux version so i can use your mod [WebDisplays](http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/1291044-web-displays-browse-on-the-internet-in-minecraft) natively on linux.

I am willing to test builds for you if/when you want/need it.

My system setup;
Ubuntu 15.04, x64, 16GB ram, i7
Java JDK 8u51

[2015-08-13 15:59] montoyo commented on #8
Okay, I'll do it as soon as I'll be back home (in about 3 days). If I forget about it, please comment this post again ^^ thanks.

[2015-08-13 17:50] JordekFluffball commented on #7
Oh well, it was worth a try.

I'll keep trying with the same commit for now then.

I have made the same changes to the natives as you and built a release version, as well as generated a binary distribution. What is it exactly that MCEF needs? The windows files are substantially different from the Mac files.

![build](https://cloud.githubusercontent.com/assets/3166039/9257154/e5d9cf36-41a8-11e5-8d6

[2015-08-13 19:05] montoyo commented on #7
Well... to be honest... I have no idea; I thought it would generate something called jcef.so...
config2.json is a JSON file that contains the SHA-1 checksums of every MCEF resource files. It looks like this:
http://montoyo.net/jcef/config2.json

The "locales" directory is renamed as "MCEFLocales" and stored as zip. The resource files on windows looks like this: http://montoyo.net/jcef/0.7/win64

[2015-08-13 20:09] JordekFluffball commented on #7
Okay, so we might have to take a different approach to adding the Mac JCEF to MCEF.

Here's a stackoverflow answer that explains using JCEF on a Mac: http://stackoverflow.com/questions/26991843/how-can-i-create-java-project-using-java-chromium-embedded-framework-in-mac-os-x

Here's the CEF documentation for the Mac CEF bundle pictured in my last post:
https://bitbucket.org/chromiumembedded/cef/wik

[2015-08-13 23:00] JordekFluffball commented on #7
Yeah, https://bitbucket.org/chromiumembedded/cef/wiki/GeneralUsage#markdown-header-windows explains the Windows and Mac CEF applications and shows you that the the jcef_app package is basically the same as your Windows directory for JCEF, just with more sub-directories.

Also, I don't think I did this: "Do not forget to remove the JAWT.lib from the linkers options", so I'm leaving a note here to r

[2015-08-14 13:26] vpontin commented on #5
Confirmed ocourence here.
A note: i CANT kill the java process using taskkill in cmd, only using task manager. I dont have the error right now, but i can reproduce to give a better report.

Version: 0.7
OS: Windows 8.1 (before), Windows 10 (now), both x64
Java: 8.45

[2015-08-14 13:31] vpontin opened #9 "CEF Proprietary codec support"
Hi all!
I've posted this tip on forums, but i feel better to report here, due to being the mod repository.

Well, with the current compiling way, CEF (core component of JCEF) dont support mp3 and similar formats.

BUT it can be enabled.

Some links here:
http://www.magpcss.org/ceforum/viewtopic.php?f=6&t=10741
http://stackoverflow.com/questions/8033495/chromium-embedded-framework-mp3-support
https

[2015-08-14 13:32] vpontin commented on #9
In order to use proprietary audio and video codecs in Chromium/CEF you need to:

1. Acquire ffmpeg libraries that support the proprietary codecs.
2. Add 'proprietary_codecs': 1 to your cef.gypi configuration so that USE_PROPRIETARY_CODECS will be defined as required by net/base/mime_util.cc.

[2015-08-14 19:37] JordekFluffball commented on #5
Probably a JCEF bug (possibly due to off screen rendering):
https://bitbucket.org/chromiumembedded/java-cef/issues/152/windows-keeps-running-after-shutdown
https://bitbucket.org/chromiumembedded/java-cef/issues/138/application-doesnt-terminate-after

Just wait for them to fix it. It doesn't occur on Mac & Linux.

[2015-08-14 19:43] JordekFluffball commented on #9
I believe using the MP3 codec legally requires licensing. That said, I think it's either legal or ignored if it is used in small free software like this.

Compiling CEF is no easy feat. Montoyo gave up and used a precompiled CEF. I managed to compile CEf for Mac, so I may try to add the MP3 codec at some point.

Thanks for the links!

[2015-08-15 04:24] vpontin commented on #9
I dont know, but this link https://www.ffmpeg.org/legal.html can shed light...

[2015-08-16 04:17] jbdman commented on #7
Any further movement on this, i'm really looking forward to web screens on mac, for now, ... BootCamp.

[2015-08-17 06:22] spannerman79 commented on #8
Hi, just a friendly "bump" to remind you @montoyo  :smile:

[2015-08-17 07:52] ajacobsen commented on #8
Just commenting to show you that there are at least to people desperately waiting for a linux build.
I already tried to do it myself but I failed to figure out what version of jcef I need to get the latest MC 1.7.10 version of mcef running.

[2015-08-18 10:55] montoyo commented on #8
Alright guys. I'm finishing up something and I'll try to do it today. If I don't post any news tomorrow at 5am (France's time) then kill me ;)

[2015-08-18 11:02] montoyo commented on #9
Thanks for the links @vpontin :D
However, I don't know anything about the legal stuff behind MP3 patents etc... and there are many alternatives to MP3.
Also my download speed is 400 KiB/s, so downloading CEF, takes A LOT of time. (And then you have to compile it, so it's even worse).
Ah and let's not forget that I'll need to do it for every JCEF versions, on every OS (this means that @JordekFluffb

[2015-08-18 11:03] #9 closed

[2015-08-18 11:17] montoyo commented on #7
Hi! Back home!
So I've read some of your links @JordekFluffball + some other stuff about .so and .dylib on Mac. What I understood is that they are basically the same thing (dynamic libraries), and that they should work outside of the .framework archive (is it actually an archive?).

I've also read that the following libraries are enough for Mac:
 - ffmpegsoumo.so
 - libcef.dylib (I'm not sure that

[2015-08-18 11:45] vpontin commented on #9
Sad.
A lot of webradios use mp3 (or wrost: mp4/aac) format to deliver your content. OGG isn't a widespread format to anything (except opensource/free initiatives, like Wikipedia).
About license, i remember another mods using mp3 (and even aac) freely (e.g Dragon's webradio http://www.curse.com/mc-mods/Minecraft/dragons-radio-mod). Maybe talking with this mod author can help you in clarify.
In fact

[2015-08-18 12:48] spannerman79 commented on #8
Nah no one will kill you lol

Its more to show that at least one (now two) people would be interested in linux capability for your mods thats all mate.

Usually when someone quotes a time its best if they state the time zone (UTC) they are in.

For example when you made your comment that was (approx) 8pm (UTC+10). If anyone else is watching this issue what @montoyo meant was 5am (UTC+2)

[2015-08-18 17:12] Kxtreme opened #10 "Crash after right click on screen"
After I right clicked once on my private server to iniciate a 16*9 screen  I crashed and I cant come back to server crashing on login:
here is the log:

---- Minecraft Crash Report ----
// Daisy, daisy...

Time: 18-08-2015 18:04
Description: Ticking entity

java.lang.NoSuchMethodError: net.montoyo.mcef.api.API.createBrowser(Ljava/lang/String;)Lnet/montoyo/mcef/api/IBrowser;
	at net.buildlight.webd

[2015-08-18 17:28] montoyo commented on #10
Alright. My bad, just rollback to MCEF 0.6; I forgot to test if 0.7 was compatible with WebDisplays and it is not. Sorry about that; sometimes I just do shit.

P.S.: I've set 1.7.10-0.6 as the default version on the forum.

[2015-08-18 20:40] JordekFluffball commented on #7
Awesome! Glad to have you back!

Yes, I believe they are just libraries. ".framework" is just a special folder.

"libcef.dylib" does not exist.
![screenshot_195](https://cloud.githubusercontent.com/assets/3166039/9342020/6ac53e7a-45ae-11e5-86a2-3b0e9b123ca2.jpg)

![screenshot_195](https://cloud.githubusercontent.com/assets/3166039/9342006/58f717b8-45ae-11e5-8254-3cb3c6b3ceef.jpg)

Each .lproj dire

[2015-08-18 20:55] JordekFluffball commented on #7
Also, I tried out MCEF on forge and I noticed that it incorrectly initializes as MCEF 0.6, so it gets files from the 0.6 directory on the web server.

Also, the current MCEF on github is for Forge for Minecraft 1.8, right?

[2015-08-18 21:26] Kxtreme commented on #10
It worked thank you. My feedback from the mod is that it his a great idea and very well executed I suggest that is possible to see the same thing in everyone on the same server like render on the server not on the client. I noticed that when is other player that entered inputed the site you will see the display image 2 block higher or by disconecting and connecting again but its solved by creating

[2015-08-18 23:07] vpontin commented on #7
@JordekFluffball for 1.7.10

[2015-08-19 00:14] montoyo commented on #7
There's an option to disable updates in the MCEF config file ;)
The file called "Chromium Embedded Framework" in the "Chromium Embedded Framework.framework" directory; isn't this a .dylib/.so file?
I'll have to read more about the locales directory stuff; I can't understand how it works on Mac...
Also, the source on github is MCEF 0.7 for 1.8 :D

[2015-08-19 01:21] JordekFluffball commented on #7
So if I disable updates I can manually place the JCEF files?

"Chromium Embedded Framework" is a binary Unix Executable File (like an exe for Mac). Now that I think about it, that is probably the CEF library we need.

Yeah, it's not all in one directory like on Windows unfortunately. But I think they are all the same files as Windows, just in different directories.

Got it, that would explain the

[2015-08-19 02:17] montoyo commented on #10
This is the MCEF github page by the way ;) not the WebDisplays one.
Anyway; rendering the view on the server side is a bad idea for many reasons, such as:
 - The server admin will have to install a user interface on his machine (X for linux), which is uncommon and a resource waste
 - This means that the server will have to stream the screen to every clients, so it'll use a huge amount of bandwidth

[2015-08-19 02:17] #10 closed

[2015-08-19 02:22] montoyo commented on #7
Yes, you after disabling updates you can safely replace MCEF files, they shouldn't be replaced :D
The 64 MB sounds perfectly right to me, the libcef Window DLL is about 54 MB ;)

[2015-08-19 02:28] montoyo commented on #8
Okay :D
I successfully compiled JCEF for linux64 today. Let me run some tests to make sure that everything is compatible with MCEF, and then compile it for linux32 too.
If everything goes fine, I'll release it tomorrow!

[2015-08-19 06:19] JordekFluffball commented on #7
Okay I gave it a go.
* used compiled MCEF for 1.7.10 from the Minecraft forum page
* changed config:
[code]
Note: I had the forced mirror set to my local server with config2.json and other directories.
* example mod from net.montoyo.mcef.example from commit 318837a (aka last 1.7.10 push)
* Eclipse workspace (aka Minecraft folder):

![screenshot_196](https://cloud.githubusercontent.com/assets/31660

[2015-08-19 06:24] JordekFluffball commented on #7
So I think the key is this: Library not loaded: @loader_path/../Frameworks/Chromium Embedded Framework.framework/Chromium Embedded Framework

Which suggests it is looking int eh wrong place for the "Chromium Embedded Framework".

[2015-08-19 06:30] JordekFluffball commented on #7
Now if I put the framework where it expects, I get a missing file error for icudtl.dat:
[code]

[2015-08-19 07:08] JordekFluffball commented on #7
And now I have come back to this stackoverflow thread that I think we have to try:
http://stackoverflow.com/questions/26991843/how-can-i-create-java-project-using-java-chromium-embedded-framework-in-mac-os-x

But in step 4 of the answer, I'm not sure how to change the working directory because it has to be the Minecraft folder! Maybe I could rename the Minecraft folder to trick it into thinking it

[2015-08-20 21:19] JordekFluffball commented on #7
I tried putting all of the Minecraft files in the jcef.app bundle, setting it as my workspace in Eclipse, and running it. Minecraft launches fine, but with this error:
[code]
Which I believe is from this MCEF code:
[code]
Then I tried adding the .jars from the screenshot I previously posted to the java build path, but I'm not sure I did it correctly: Project->Properties->Java Build Path->Libraries

[2015-08-21 03:22] jbdman commented on #7
I dont know much about java, but it looks like you have to add jcef to
java.library.path, I will google this, and update you on any further
progress.

[2015-08-23 17:47] TheCrafterian opened #11 "When trying to join a singleplayer world with only both 2 mods, internal server failed to startup. [FORGE]"
Whenever i join a singleplayer world with this plugin and the other one that is required, and without any other plugins, it says something along these lines: Internal server failed to startup. I really want to use this awesome mod for my custom world, but its not working :(.

[2015-08-24 00:27] spannerman79 commented on #11
Log file or it never happened

[2015-08-24 00:28] spannerman79 commented on #8
Just a gentle "bump" to see how your getting on

[2015-08-29 00:57] spannerman79 commented on #8
Is there something that I can do to help @montoyo ?

Not trying to be pushy but the last comment was 10 days ago with your success with JCEF for linux x64

[2015-08-30 22:01] JordekFluffball commented on #7
I put libjcef.dylib in jcef.appm which is in java.library.path, and it found it. Then it gave me a framework not found error, since libjcef.dylib looks 2 directories up to find it (libjcef.dylib is supposed to be 2 directories deep). So I put the framework there, and it found it. Next, I get this error:

[code]
But you added the myLoc to CefApp.java, which is included in the MCEF mod, didn't you?

[2015-09-08 16:42] montoyo commented on #8
Hello Hello... :)
Sorry if I didn't answer, studies resumed and I have been busy moving stuff to "my new home"...
So uhm, as I said, compiling was the easy part. But there's a few problem with the linux port right now, that I need to fix:
 - You have to copy icutdl.dat in your java/bin folder, which requires admin rights (not my bug: see XXX)
 - Whenever a "web view" is destroyed, Minecraft crashe

[2015-09-08 16:45] #11 closed

[2015-09-08 16:52] montoyo commented on #7
Hello again :D,
Like I said in issue #8, I apologize if I didn't answer, studies resumed and I have been busy moving stuff to "my new home"...
First, I don't think you have to change anything in the java code: only the C++ part has to be patched (This means you should use the public MCEF JAR without modifying it :p)

Also, every libraries (.so or .dylib) should be in the .minecraft folder, which i

[2015-09-08 21:15] JordekFluffball commented on #7
Glad to hear from you!

Are you sure you didn't make changes to the jcef.jar that is in the MCEF jar? There are changes in this git repository, and MCEF seems to be looking for the myLoc field.

I am still using the public MCEF jar for 1.7.

See, I think it is different for Mac. The CEF framework needs all the Mac CEF resources to be in a .app bundle, but this means that they aren't in java.librar

[2015-09-09 01:56] spannerman79 commented on #8
This is a *little* bit of a worry (only for security reasons).  Couldn't minecraft (java) be executed with a "security" type flag?  For example `-Djava.security.policy=some.file` and `some.file` has the required commands to allow loading of icutdl.dat from its default location?

I know *exactly* whats that like so I hear you

[2015-10-30 23:46] spannerman79 commented on #8
Just a gentle *bump* as it's been a month since any sort of update

[2015-10-31 03:50] mloparco commented on #7
Hello guys, Thank you for trying to MCEF to work on a Mac, I appreciate all the effort involved! It would be so awesome to have a Mac version of MCEF running – putting a browser inside MC would enable a whole new universe of experiences for us Mac folk. I'm going to give it a shot myself and I'll let you know if I'm able to make any progress in the coming days. Bonne chance!

[2015-12-09 17:44] Bricklou commented on #8
Hello, I would like know when you will publish a version stable of JCEF.
(Excuse me for spelling and grammar ,I do not speak really good English).

[2015-12-16 09:45] CarolAnthony opened #12 "YOUTUBE FULLSCREEN"
youtube full screen not working why did you not fix them it is already 2015 if 2016 still u not update them ????

[2015-12-16 17:51] #12 closed

[2016-01-09 16:48] Bricklou opened #13 "MCEF for Linux"
Hello,
I know that you are often asked but the last post dates from 2013.
So when fate MCEF the linux version.

Cordially Bricklou

PS: I don't speak very good english.

[2016-01-09 21:41] spannerman79 commented on #13
dupe #8

[2016-03-04 12:49] Yanniclord opened #14 "Montoyo Website down"
Main website is down, hence MCEF and JCEF do not work.

https://montoyo.net/jcef.

[2016-03-04 13:27] spannerman79 commented on #14
Your end

http://www.isitdownrightnow.com/montoyo.net.html

[2016-03-04 13:34] Yanniclord commented on #14
No, its not. Add the . that is at the end of the URL, the link i posted works, but not with the ., and that is where it gets the files from, which it can't. It doesn't work for anyone of my friends, and if you check the MCEF thread, someone else has the same problem for 1.8.

[2016-03-04 13:34] Yanniclord commented on #14
The directory works, but with the dot (.) at the end (which GitHub is to stupid to add properly), it does not work, and that is what it is configured to in the config file.

[2016-03-04 13:35] Yanniclord commented on #14
Changing it to without the dot, does nothing. The dot basically tells that there is something there, like some special directory for downloading from Apache, but that does not work.

[2016-03-04 13:36] Yanniclord commented on #14
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2324969-minecraft-chromium-embedded-framework-mcef?page=6#c116

[2016-03-04 13:37] spannerman79 commented on #14
https://github.com/montoyo/mcef/blob/master/java/net/montoyo/mcef/remote/Mirror.java#L21

[2016-03-04 13:39] Yanniclord commented on #14
Ye what about it? It still does not work, removing the dot or not. I can see in my web browser, the page i linked to, but MINECRAFT does not understand that it should download the required files from there, and as of that it does not work, NOT just for me.

[2016-03-04 13:40] Yanniclord commented on #14
We are using v0.6, 0.7 crashes with Web Displays.

[2016-03-04 13:43] Yanniclord commented on #14
Again, version 0.6, no idea if it is fixed there with the mirror stuff you mentioned, but what do i have to put into the forced mirror link field then? I put in that exact address, still does not work. Minecraft is not downloading the files it should download from the link specified in the java file you quoted.

[2016-03-04 13:50] Yanniclord commented on #14
I decompiled the Mirror.class in version 0.6, and got this: http://pastebin.com/Pu0Q0Uk3

Seems to be the same, but why doesn't Minecraft understand that? It worked some days ago, and it suddenly stopped working for all my friends, in the US, Norway, Germany, everywhere. The JCEF process does not start, and we get this error:

[14:38:35] [Client thread/INFO] [MCEF/MCEF]: Now initializing MCEF v0.6

[2016-03-04 13:57] Yanniclord commented on #14
I switched to the mirror i am hosting myself, and i still get this:

http://pastebin.com/L6bPRzT3

There seems to be something wrong with the config file (the JSON one), but what?

[2016-03-04 13:58] Yanniclord commented on #14
This is the config:

http://pastebin.com/1G12yXfY

What is wrong with it in line 2 column 2?

[2016-03-04 15:41] montoyo commented on #14
Maybe it's because montoyo.net recently switched to HTTPS. However, HTTP requests should still work as they are redirected. Can't do anything right now since I'm not at home.

[2016-03-04 15:56] montoyo commented on #14
You can still try to edit your config to use HTTPS, just like this:
forcedMirror=https://montoyo.net/jcef

[2016-03-04 16:37] Yanniclord commented on #14
Will do, thank you.

[2016-03-04 16:37] Yanniclord commented on #14
Well the problem is that is gives out some kind of problem with the config.

[2016-03-04 21:55] montoyo commented on #14
It's not. The JSON Parser is actually reading HTML (saying that content was moved permanently) and thus erroring.
I just made SSL optional again, can you give it a try? Thanks.

[2016-03-05 01:04] spannerman79 commented on #14
@montoyo Perhaps change https://github.com/montoyo/mcef/blob/master/java/net/montoyo/mcef/remote/Mirror.java#L21 to be `MONTOYO("//montoyo.net/jcef", "montoyo.net");` that way it wouldn't matter for http/https (works for CSS, not 100% sure about java)

[2016-03-05 11:36] montoyo commented on #14
@spannerman79 Will try it; thanks.
@Yanniclord works well for me; is it fixed for you too?

[2016-03-05 12:34] Yanniclord commented on #14
Will check, have to reboot the server and client, do that in 10 min or so.

[2016-03-05 15:47] quentfr21 commented on #14
bonjour

pour ma part tout fonctionne à nouveau y compris le telechargement automatique des librairies

merci

[2016-03-05 18:34] Yanniclord commented on #14
English? You don't help yourself by speaking french, but i think Montoyo speaks french, luckily for you.

[2016-03-05 18:36] #14 closed

[2016-03-15 17:09] Yanniclord commented on #8
Any news on this @montoyo ? Been a while.

[2016-03-15 17:12] LokeYourLord opened #15 "MCEF still not closing java"
So the JCEF process in the background does still run, even though it is said to be fixed in 0.6. Problem is, it is fixed in 0.7, but 0.7 does not work with WebDisplays as of the moment. Could you make a quick, fixed 0.6 version that closed JCEF properly upon exiting Minecraft? Also, maybe a quick fix to skip Linux compiling, so that people that use Linux do not get a crash anymore. Does not have t

[2016-03-15 17:21] montoyo commented on #15
Hello,
The MCEF version I'm working on is using the latest JCEF version and still keeps the java process running. I've spent too many hours trying to fix this. I even tried to add some code in the DLL that kills the process 5 seconds after Minecraft's shutdown. Doesn't solve anything. This must be a (J)CEF bug and right now I'm too busy with my studies to take a look at it; sorry :(

[2016-03-15 17:22] Yanniclord commented on #15
Could you at least fix the Linux issue?

[2016-03-15 17:27] montoyo commented on #15
Sure, if I get some free time :)
Again, sorry if I can't do much about this but like I said, I've been extremely busy these last days...

[2016-03-15 17:32] Yanniclord commented on #15
Hey, its ok. At least you are honest about it, and say it like it is, not like many other devs do, do the opposite or just abandon stuff altogether.

[2016-03-16 20:17] Yanniclord commented on #15
This log is for you, in case you want it. Its about the compilation on Linux. The last pair of lines should be what you need. https://www.dropbox.com/s/wxoltqhtrelfgur/log.pdf?dl=0

[2016-05-02 18:50] TechplexEngineer opened #16 "Build System or Process for mcef"
Greetings,

I'd like to help with linux and mac compatibility.
I'm troubled that the repo doesn't have a build script included. Is this something you can add so we, who are looking to compile MCEF, don't have to start from scratch?

Thanks!

[2016-05-13 19:00] lightning02 opened #17 "Could not spawn entity ModID: WebDisplays Entity ID 6 at.... please report to mod author"
I encountered this error (reason why I was not able to join in a private server).
At the time of the error I was using WebDisplays-0.11 and MCEF-1.7.10-0.6.
I know there is a new version actually, I'm sure gonna use that, btw, I'm not able to reproduce the issue anymore (for now...)

![immagine](https://cloud.githubusercontent.com/assets/11884147/15258759/a2f9da76-194d-11e6-914c-6fdc6110cb40.png)

[2016-05-13 19:01] lightning02 commented on #15
The same thing happens to me :(

[2016-05-20 01:54] DomAmato opened #18 "Example Browser doesn't Render in 1.8.9"
I made the updates needed to address the errors that happen from porting the code to 1.8.9 and no errors are thrown it just never renders the examplebrowser. Is there anything I should be accounting for off the top of your head? should i recompile the JCEF files? The changes are so minimal I figured it wouldn't require anything too crazy.

Here are the changes I made:
https://github.com/Digital-Yo

[2016-05-20 01:56] DomAmato commented on #18
sigh nvm it decided to work out of the goodness of its heart. alternatively mcef is now 1.8.9 compatible

[2016-05-20 01:56] #18 closed

[2016-05-21 10:21] DomAmato commented on #7
@JordekFluffball I can't seem to get past the framework issue you faced though my error is slightly different. I built the CEF binaries from what I believe is the newest version and the output I get looks like this:

I tried setting the path to an app bundle with the proper folder structure as well as just having the dylib and  framework outside the bundle but it never can find the framework...

[2016-05-22 02:32] DomAmato commented on #7
I think I made progress thanks to this post:
http://www.magpcss.org/ceforum/viewtopic.php?f=17&t=13856

I did that part at the bottom and ran this command on a libjcef.dylib that I built from source:
`install_name_tool -change "@executable_path/Chromium Embedded Framework" "@loader_path/Chromium Embedded Framework" libjcef.dylib`

Note that the dylib is on the same level as the chromium embedded f

[2016-05-22 03:04] DomAmato commented on #7
Now I have this error:
`Assertion failed: (false), function SetJavaClassLoader, file /Users/domamato/Desktop/JCEF/java-cef/native/jni_util.cpp, line 66.`

Which stems from here:
[code]

Strange since its the same code that windows compiled with and ran with but perhaps ill set it back to the edits made here instead of the updates made on the bitbucket jcef repo

[2016-05-22 20:55] DomAmato commented on #7
The edits get me a bit farther but now I run into this error when it tries to initialize:

[code]

[2016-05-29 09:30] DomAmato commented on #7
I got it working but it required copying icudtl.dat, natives_blob.bin, and snapshot_blob.bin to the java home location. Not exactly an ideal setup, still looking into making some kind of reasonable bundle or folder setup that will allow this to be done painlessly

[2016-06-22 05:54] vpontin opened #19 "Why not port to Webview (or other engine)..?"
I'm not a expert on Java, but after seeing to this day no one was able to simply build JCEF for OS X, i'm throwing some bits here:

http://docs.oracle.com/javafx/2/webview/jfxpub-webview.htm

It seems to be native of (Oracle) Java i assume it could run in any platform. Aside it uses webkit as engine, just like Chrome/CEF.

And some topics about this subject in StackOverflow:
http://stackoverflow.c

[2016-07-04 13:01] montoyo commented on #19
Hello,
First of all WebView is part of the Java**FX** library, which means it is for Graphical User Interfaces and I certainly won't be able to "render" it in memory (i.e. not directly on the user's screen but in an OpenGL texture that can then be rendered in Minecraft).

Also WebView doesn't support HTML5/CSS3 as good as Chromium does, and as far as I know it doesn't support Flash at all. Even th

[2016-07-04 13:01] #19 closed

[2016-07-04 13:06] spannerman79 commented on #19
Well more then just a few security issues. Even Adobe themselves have stopped development and support/EOL of Flash from 2017-01-31 ( [Source](https://docs.adobe.com/docs/en/aem/6-1/administer/integration/marketing-cloud/scene7/flash-eol.html) )

[2016-10-27 07:32] orange4glace opened #20 "Scroll is not working"
[code]
I think this should work but it doesn't :(

[2016-10-27 07:46] orange4glace commented on #20
I don't know why but it's working now :)

[2016-10-27 07:46] #20 closed

[2016-11-24 03:26] sudo-apt-get-install commented on #7
Did Montoyo and everybody working on this project die?

[2016-11-24 07:51] vpontin commented on #7
Maybe yes; i've even requested for somebody on MMD discord server to make an alternative mod for page rendering

[2016-11-24 12:33] montoyo commented on #7
It's not dead. I was just working on different projects these last months. Also both Mac and Linux ports are much harder than you would think of : one of the main feature of MCEF (the mod:// protocol) is broken on non-Windows platforms.

[2016-11-24 15:35] sudo-apt-get-install commented on #7
Holy crap you're not dead, I have an iMac if you need more support, since all the rest of your support is gone. I really hope you can get this working and if you need a tester just give me the build through Github.

[2016-11-24 20:05] jbdman commented on #7
I'm also willing to do anything you need.

[2016-11-24 20:49] DomAmato commented on #7
I am also not dead but had to move on to working on other things instead of fighting with chromium. It is significantly harder to get it working on osx because the file locations are hard coded into CEF instead of being mutable like the windows version. I can help out a bit but mostly through the failings of my previous attempts. I can post the scripts and file changes when I get back home from th

[2016-11-24 20:57] montoyo commented on #7
Glad to know I can have your help folks!
Anyway; it's not only about owning a Mac anymore. There are two major bugs in Mac/Linux JCEF right now:
 - Some files need to be copied next to the java binary file (which requires admin rights)
 - The mod:// protocol just doesn't work.

I'll keep you updated.

[2017-01-16 04:55] binary1230 opened #21 "As someone who uses flash, I'd like the ability to enable the --enable-system-flash option"
Hi! Big fan of the mod + WebDisplays.

I was using this mod in conjunction with a specific low latency flash-based video player to show a livestream of another game (kerbal space program) inside Minecraft and then was displaying it inside minecraft (https://www.youtube.com/watch?v=JW55HgpsaYI if you're curious, long story)

This was all working great until it stopped working for seemingly no reaso

[2017-02-27 15:23] cztomczak commented on #7
Looks like the `icudtl.dat not found in bundle` error can be fixed in CEF v56 (2924) by setting CefSettings.framework_dir_path - this option was recently added in that branch and later.

[2017-02-27 17:51] DomAmato commented on #7
Awesome, JCEF is still a little bit behind in terms of the chromium releases so it might take a little before that feature is available but once it does that should resolve this really annoying issue.

[2017-04-04 16:17] Leepurdy86 opened #22 "Crash after right click on screen on forge version 1.7.10 "Solved""
If you ever run into this problem, try updating your java to the latest version "8", then in Minecraft Launcher, goto "launch option" tab and click "add new", name your save what ever you want to name it to. I named it "Forge 1.7.10 x86", and select version "release 1.7.10-Forge" with the latest version of forge another words select version: "release 1.7.10-forge10.3.14.1614-1.7.10". Then turn on

[2017-05-08 20:22] lightsteam opened #23 "Doesn't play sound."
We tried everything to get it to work. It doesnt work for me, but my friends hear sounds.

[2017-05-09 01:26] spannerman79 commented on #23
This description is just as helpful as saying "my computer just crashed for no reason at all"

[2017-05-27 16:14] MPeti1 opened #24 "Can't use screen"
Hi!
If i build a screen and right click on it, the screen becomes grey, and i can do nothing with it.
I use Web Displays 0.11 and MCEF 0.6.
I noticed when i assemble a screen (when i first turn it on) it dumps an error to console:
 `Creating webview!
[18:11:19] [Thread-34/INFO] [STDERR]: [java.lang.Throwable$WrappedPrintStream:println:-1]: java.lang.NoClassDefFoundError: org/cef/handler/CefFocusHa

[2017-05-27 16:22] spannerman79 commented on #24
need full fml log - put the log onto gist

[2017-05-27 16:47] MPeti1 commented on #24
[here ](https://gist.github.com/MPeti1/c8dd7966bfcdfb2ce9c9c2d1bcaae7fc)is it.

[2017-05-28 00:45] spannerman79 commented on #24
Test using MultiMC

[2017-05-28 01:47] spannerman79 commented on #24
I just did a fresh instance in MultiMC

https://paste.ee/p/JOARs

![2017-05-28_11 43 36](https://cloud.githubusercontent.com/assets/7542384/26525477/63e73c4c-439b-11e7-8319-af1585d75f64.png)

Seems to work without any issues.

[2017-05-28 10:29] MPeti1 commented on #24
Same here
![kep](https://cloud.githubusercontent.com/assets/9215491/26528022/317fb85a-43a1-11e7-81da-cf0441dcdc61.png)

[2017-05-28 10:32] spannerman79 commented on #24
You didn't load up a URL to test like I did.  So no, you didn't test properly nor fully.

[2017-05-28 10:34] MPeti1 commented on #24
i can't write any url to the screen
yes, i've succesfully connected the keyboard to the screen

[2017-05-28 10:37] spannerman79 commented on #24
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/1291044-web-displays-browse-on-the-internet-in-minecraft

Next time read the OP

[2017-05-28 10:43] MPeti1 commented on #24
oh, really :D sorry, my fault. I'm trying to resolve bugs in 3 mods at a time, i promise i've read the description in minecraftforum, it's just a bit hard to remember everything :D

[2017-05-28 10:44] spannerman79 commented on #24
Then in that case close this issue.  Don't leave open issues when your issue is resolved.

This applies across Github and any other issue tracker system.

[2017-05-28 19:36] #24 closed

[2017-08-18 16:24] ohlookitsderpy opened #25 "Doesn't appear"
When using Web Displays and MCEF, I have tried loads of versions and it just doesn't render or it gets a ticking entity crash. I have even tried different MC versions and Java versions. Nothing works.

[2017-08-18 22:36] spannerman79 commented on #25
I would disagree
https://paste.ee/p/0tRSG

Proof: https://youtu.be/y2YwshR1SXs

[2017-08-19 09:23] TheSecretPenguin commented on #25
Hmm..I used normal client and it doesn't work

[2017-08-19 09:24] TheSecretPenguin commented on #25
I'm going to test with MultiMC now

[2017-08-19 10:08] TheSecretPenguin commented on #25
https://paste.ee/p/3iJgZ - Crashed

[2017-08-19 13:06] montoyo commented on #25
I think you are using an incompatible version of MCEF with WebDisplays. Try to rollback to a previous MCEF version.

You said you have tried "loads of version"; could you expand on that?

[2017-08-19 15:44] TheSecretPenguin commented on #25
Tried MCEF 0.7, 0.6 and 0.4. With web displays I tried 0.11, 0.10 and 0.11c

[2017-09-02 13:16] Bazsinho opened #26 "WebDisplay Mod screen not working"
When I right click on the WebScreen it isn't turn on.
I made a video.
https://youtu.be/czBpNGuKPIM

[2017-09-02 15:34] spannerman79 commented on #26
Dupe https://github.com/montoyo/mcef/issues/25#issuecomment-323475776

[2017-10-02 00:13] sonicbrandyn opened #27 "MCEF Still not closing Java"
I'd love this mod in my small private pack but I cant have it so it doesnt close java down and we all gotta go into task manager to shut it down every time since it has over 300 mods it is quite an issue, Please fix <3

[2017-10-02 09:11] spannerman79 commented on #27
The number of mods doesn't matter in this case.

Personally killing the jcf helper process isn't all hard to do.

As it seems the Dev has gone on hiatus you'll just have to deal with one simple easy inconvenience - considering the majority of 1.7 and 1.8 mods are buggy and won't be updated/fixed as most/all have moved onto 1.11+

[2017-10-02 13:57] sonicbrandyn commented on #27
Yeah but every player has to do it and some dont even know how or will forget and it will lag their computer

[2017-10-12 00:57] LaserGurke155 opened #28 "Screen wouldnt Turn on"
when i click it, its still blackscreen

[2017-10-12 00:59] spannerman79 commented on #28
Dupe https://github.com/montoyo/mcef/issues/25#issuecomment-323475776

[2017-12-13 19:28] vladutz007 commented on #10
This is my rhite click to open screen and crash minecraft  this mod is fuckdead

my log:[L] Minecraft Launcher [21;8] has initialized
[L] Running under TLauncher 1.98.13+master for Mc-launcher.com
[L] Current machine: Windows 10 (10.0) x64, Java 1.8.0_151, 2813 MB RAM, 2x CPU
[L] Collecting info...
[L] Force update: false
[L] Selected version: ForgeOptiFine 1.7.10
[L] Selected account: ElyLegacyUs

[2017-12-13 21:34] spannerman79 commented on #10
@vladutz007 your fuckstupid to think that commenting on a closed issue that has no relation to your issue will give you any help.

[2018-01-04 16:54] ohlookitsderpy commented on #25
update: tried a clean install of MC, latest version now just crashes. older versions still don't appear

[2018-01-26 16:19] #28 closed

[2018-01-26 16:20] #26 closed

[2018-01-26 16:26] montoyo commented on #16
Hello,

I added the missing Gradle build configuration & wrapper for MCEF 1.12.2-0.9.

Thanks for pointing it out!

[2018-01-26 16:26] #16 closed

[2018-01-26 16:29] montoyo commented on #27
Hello,

Hopefully this will be fixed with MCEF 1.12.2-0.9. If this happens again, re-create the issue. Until then I'm closing this one.

[2018-01-26 16:29] #27 closed

[2018-01-26 16:29] #25 closed

[2018-01-26 16:30] montoyo commented on #23
Hello,

This is JCEF related, MCEF can't help with that.

[2018-01-26 16:30] #23 closed

[2018-01-26 16:36] montoyo commented on #17
Hello,

This is WebDisplays related and not MCEF. Besides, I'm dropping WebDisplays 0.11 support since I'm working on a re-write, so these kind of bugs should be solved.

[2018-01-26 16:36] #17 closed

[2018-01-26 16:36] #15 closed

[2018-01-26 16:40] montoyo commented on #8
Hello, we're two years later, everything is fine :)
I'm working on porting everything to 1.12.2, and re-writing WebDisplays. I didn't forget about the Linux port and will try to do it after I updated WebDisplays.

Thanks for your very very very good patience.

[2018-01-26 16:42] montoyo commented on #13
As @spannerman79 said, dupe #8 so I'm closing this one.

[2018-01-26 16:42] #13 closed

[2018-02-17 02:48] spannerman79 commented on #8
Well I am very keen on seeing about getting this working on Linux if at all possible @montoyo

If i don't have to use my Win7 VM for gaming I won't.  (bit off topic but if your curious as to how google for "arch pci passthrough" and you'll see it is possible)

[2018-02-21 18:30] LISARIAT opened #29 "Black screen 1.7.10"
When my friends try use webdisplay, they can't see the screen, it's always black :/
it's working for me, i don't why it's not work for my friends...

[2018-02-21 19:25] montoyo commented on #29
Hello,
Are they using Windows? Which Minecraft launcher are they using?

[2018-02-21 20:12] LISARIAT commented on #29
Ben déjà je remarque que tu es français aussi ^^

Ben en fait, moi le mod marche parfaitement pour moi, je me suis regardé
quelque vidéos sur internet,  sur le serveur, sa marche aussi, donc j'ai
créer un pack mod en .zip pour mes amis, j'ai mis le mod webdisplay, MCEF
et computercraft dans le dossier mod, le dossier config avec le fichier
config du webdisplay (car le serveur change l'id de l'enti

[2018-02-21 20:20] montoyo commented on #29
Essaye avec le vieux launcher https://s3.amazonaws.com/Minecraft.Download/launcher/Minecraft.exe

[2018-02-21 20:23] LISARIAT commented on #29
Merci
Je vais tester si c'est ça ;)

[2018-02-21 20:37] LISARIAT commented on #29
Avez-vous une version 32bit ?

[2018-02-22 09:28] montoyo commented on #29
Du launcher ?

[2018-02-22 14:57] LISARIAT commented on #29
Oui, car quand il le lance il se passe rien mais moi oui je vois le launcher, et j'ai remarquer qu'il utilise un os de 32bit
Sinon si c'est pas ça je sais pas pourquoi sa ne fonctione pas le launcher que vous m'avez donné...

[2018-02-22 16:09] montoyo commented on #29
C'est un launcher officiel de Minecraft: il devrait fonctionner dans tous les cas (sauf si java n'est pas installé bien sûr). Si il n'arrive à jouer qu'avec le nouveau launcher, je suggère de passer à Minecraft 1.10.2 ou 1.12.2. MCEF fonctionne comme il faut dans ce là, et en plus WebDisplays a bien évolué.

[2018-02-22 18:45] LISARIAT commented on #29
Bon ben c'est c'est le launcher le problème, je vais essayer comme je peux
de le lancer...
Je vous dirais si j'arrive ^^

Le 22 février 2018 à 17:09, Nicolas Barbotin <notifications@github.com> a
écrit :

[2018-02-22 22:27] LISARIAT commented on #29
Oui, car quand il le lance il se passe rien mais moi oui je vois le launcher, et j'ai remarquer qu'il utilise un os de 32bit
Sinon si c'est pas ça je sais pas pourquoi sa ne fonctione pas le launcher que vous m'avez donné...

[2018-03-31 15:53] derofim commented on #5
probably fixed version https://1drv.ms/u/s!AnTAt-3DzC4Sgeos3DuP5GQna6cYTQ

[2018-03-31 15:58] derofim commented on #5
hmm... really fixed version here, see src\main\java\net\montoyo\mcef

 https://1drv.ms/u/s!AnTAt-3DzC4SgeotLgyXCu4Q0MltLA

[2018-03-31 16:31] derofim commented on #5
also may help https://bitbucket.org/snippets/alancq/nKMak

[2018-03-31 16:43] montoyo commented on #5
I'm starting to think this is due to some webpages opening new tabs behind the scenes. These tabs are not added to MCEF's browser ArrayList and thus are not closed when Minecraft shuts down. This results in the java process hanging.

[2018-03-31 22:58] spannerman79 commented on #5
@montoyo on the last known working versions for 1.7.10 ( MCEF-1.7.10-0.6.jar & WebDisplays-0.11.jar ) even when using Youtubes WebTV URL ( http://youtube.com/tv ) it doesn't open a second tab and yet it doesn't get killed off when minecraft is closed down normally.

[2018-05-10 04:10] OneTruePip commented on #8
I have gotten a 1.12.2 version to build for linux64 but I was curious if there was a way to get 1.7.10?

[2018-06-07 22:20] Tank-Missile commented on #8
He doesn't plan to support earlier versions since backporting from 1.12.2 to 1.7.10 would require a complete rewrite. You should make a pull request since this mod could diffidently use linux support. I'm curious to know how you got it working.

[2018-06-17 01:08] binary1230 opened #30 "upgrading to more recent JCEF"
Hi, I'm attempting to upgrade to latest JCEF/CEF so I can get a more recent chromium version for some video streaming stuff I'm trying to do.

I was able to get things compiled and working decently for a first pass, but currently I am having an issue where CefClient::OnPaint() never seems to get called.   I realize without providing any additional context it would be hard to give advice, but, befo

[2018-06-17 04:10] binary1230 commented on #30
and, figured it out, turned out that with the new JCEF debug DLL it had some new checks to make sure we're on the right Thread, after restoring some of the init code to be on the original thread JCEF was using, it started working!

Here's a shot of it running Chromium 67 inside MC
https://github.com/binary1230/mcef/commit/3d26ca58dbe867a832cf2edf26d5a47cf0310359

Will keep testing this and probabl

[2018-06-17 04:29] binary1230 commented on #30
And here it is working with WebDisplays unmodified:

![image](https://user-images.githubusercontent.com/5413064/41504699-87aaf8e0-71c5-11e8-8c31-8406891c7cfb.png)

[2018-07-01 12:52] wifiblog opened #32 "computercraft and webdisplay"
Hello, I'm french and I use google translate,

I am on forge 1.12.2
With computercraft installed and functional.
I install webdisplay that works too.
Off when I want them to work together, the item: InterfaceComputerCraft tells me that CoomputerCraft is not installing.
Can you help me repair this operating error?

[2018-07-07 03:15] fanout96 opened #33 "somebody help"
how to disable creating temp folders and files like as:
MCEFCache(maybe storage it temporary in ram )
MCEFLocales(maybe load it from inside jar file)
and moving all dependency files and librares to another folder, example in : .minecraft\mods\requrements\
like in list:
cef_100_percent.pak
cef_200_percent.pak
d3dcompiler_43.dll
d3dcompiler_46.dll
devtools_resources.pak
ffmpegsumo.dll
icudtl.dat
jce

[2018-07-27 11:12] ScottehBoeh commented on #15
**DISCLAIMER: I know this is an old thread, but for developers who are STILL having this issue:**

Please remember that you need to have `-Dfml.coreMods.load=net.montoyo.mcef.coremod.ShutdownPatcher` as a VM argument! Otherwise, it will not load the Shutdown Patcher and close your java instance after shutting down Minecraft.

[2018-07-28 14:59] #33 closed

[2018-08-26 07:27] rhysperry111 opened #34 "Question on platforms: Building for MAc"
I have all the relevant applications to build for mac, but my problem is i am using this in a modpack. If i were to compile it for mac would it still work on windows? Would it be possible to put windows AND mac builds in my mod folder?

[2018-09-03 16:48] TheLionWarlord opened #35 "It keeps crashing"
I have downloaded Webdisplays and mcef, and every time I try to launch minecraft, it crashes. I have taken out other mods I had, and it still crashes. Could I please get some help?

[2018-09-03 16:58] spannerman79 commented on #35
Log or it never happened
Use gist or pastebin/paste.ee etc

[2018-09-03 17:33] TheLionWarlord commented on #35
Is this what you wanted?

The game crashed whilst there was a severe problem during mod loading that has caused the game to fail
The game crashed whilst there was a severe problem during mod loading that has caused the game to fail
Error: net.minecraftforge.fml.common.LoaderExceptionModCrash: Caught exception from WebDisplays (webdisplays)

---- Minecraft Crash Report ----

WARNING: coremods are p

[2018-09-03 21:53] spannerman79 commented on #35
https://github.com/montoyo/mcef/issues/15#issuecomment-408388491

[2018-09-03 22:14] TheLionWarlord commented on #35
What do you mean? I don’t get it.

[2018-09-04 22:43] TheLionWarlord commented on #35
The game crashes while it is trying to load the game.

[2018-11-15 15:09] grillo78 commented on #30
Can you play a video with any codec?

[2018-12-08 07:56] stepan14041999 opened #36 "[1.7.10-0.6] Russian cyrillic symbols not supported"
I can't print russian symbols into gui

[2019-02-08 13:14] webdisplaysfan commented on #8
@montoyo Can you say my when you release mcef for Linux?
Thank you,
webdisplayfan

[2019-03-21 01:17] kohlth opened #38 "Question on mod port to curse forge"
hello there, as a fan of your mod web screens and of this mod, i would love to use it more

the problem is that this pack isn't on curse forge
https://minecraft.curseforge.com/

i cant really use your mod much in packs i make/share because of the fact being that 90% of mods, mod-packs and mod-pack players use the curse (also named twitch launcher after twitch merged with curse) launcher to host th

[2019-03-21 01:20] spannerman79 commented on #38
Read https://authors.curseforge.com/knowledge-base/minecraft/120-minecraft-modpack-submission and scroll down to **Third Party Mods**

[2019-03-21 01:21] spannerman79 commented on #38
I can tell you now that is a load of rubbish, there are many people moving away from the Twat Launcher to MultiMC or making a fork of SKCraft's Launcher

[2019-03-21 01:38] kohlth commented on #38
one other question i ask is because i currently host a server for free but i can only get mods from curseforge for the server

also why are people always so salty about curse/twitch, i can understand maybe it can be a bit funny at times but its not like its the absolute worst

[2019-03-21 02:48] spannerman79 commented on #38
That is your choice.  Every VPS I've had I have always had SSH access to.

Seriously?  I suggest you drop into the MultiMC discord and have a read of the horror stories that people have had with the Twat launcher and how they switched to MultiMC was **a lot** simplier and easier then what they first initially though.

Not only that the new Twat Launcher constantly comes up stating "You have no ins

[2019-04-13 21:15] vini290 opened #39 "Watch videos in another platform beyond youtube in minecraft [HELP]"
I've downloaded and installed Web Displays on my minecraft and everything works fine except by one thing... if I try to watch a video from any website which isn't youtube, the video is not supported( for example: I've tried to watch netflix with my friends and I can't, vimeo also don't work). I've notice that JCEF doesn't support some codecs and I think that's why this is happening.

Could anybody

[2019-04-14 03:14] spannerman79 commented on #39
Short answer: No because of Netflix DRM
Long answer: MCEF cannot have plugins https://arcolinux.com/how-to-play-netflix-in-your-chromium-browser/

[2019-04-14 17:16] vini290 commented on #39
so, is it possible to install google chrome instead of chromium in Web Displays mod?

[2019-04-15 02:13] spannerman79 commented on #39
How does my reply being 'Short answer: No because of Netflix DRM & cookie session auth' translate to being a maybe??

[2019-05-19 02:46] FrankiMC commented on #8
@montoyo Is the Linux version ready yet??

[2019-05-19 05:44] spannerman79 commented on #8
Seriously @FrankiMC ? You resort to abuse to someone that is doing this out of their own free will for others enjoyment?!

You are an immature ungrateful brat.

[2019-05-19 09:27] Finelarme9 commented on #8
FrankiMC, why did not you insult people on your Askubuntu's 1139927 post as well since you have not had an answer either ? I have reported you. Minecraft community do not want such behavior. montoyo did an incredible job, point.

[2019-05-22 14:40] montoyo opened #40 "Try PBOs for better performances"
Right now the rendered web browser image is transfered to an OpenGL texture through glTexImage2D... I should try Pixel Buffer Objects (PBOs) for better performances.

[2019-06-26 15:27] ItsK1tty opened #41 "Can't play MP4 videos"
Hey, I've tried watching Interstellar with friends, but when I'm heading to my webserver with .mp4 onboard, the screen stays white, and theres no sound or videos
Steps to reproduce:
1.Make a screen
2.Go to http://minecraft.itsk1tty.me/Interstellar.mp4 (it's russian)
3.Try to watch it.
Also, it's 1.12.2, mcef is 0.9, wd is 1.0
there's no crash, so there's no crashlogs

[2019-07-04 19:57] lumeleeopard commented on #15
how would add a VM argument?

[2019-07-04 20:01] lumeleeopard opened #42 "Crashing"
I added the vm argument but now it wont run the game period. It says
Error: Could not create the java virtual machine
Error: A fatal exception has occurred. Program will exit

[2019-07-19 17:15] montoyo commented on #42
Which VM argument? Java 32 ou 64 bits?
Usually this happens if you allocate too much/not enough RAM to Java... Also, keep in mind that Java 32 bits can only go up to 1 GiB of RAM.

[2019-07-19 17:16] montoyo commented on #41
I get a 404

[2019-07-19 17:21] montoyo commented on #39
@spannerman79 is right. Netflix uses DRM and this cannot be used with MCEF. And nope, I can't "install google chrome instead of chromium" for many reasons, including:

- Google Chrome is closed source
- There are no "library" version of Google Chrome that I can embed in Minecraft

[2019-07-19 17:21] #39 closed

[2019-07-19 17:34] montoyo commented on #38
I'm not a fan of curseforge and more importantly, I don't really like the Twitch launcher as it is built on top of Electron.

This basically means that Twitch don't want to pay real developers and instead chose to employ some cheap Javascript developers. The consequence of this is that you get a slow, buggy, and RAM-eating app and companies need to stop this shit right now. It may be cheap but it'

[2019-07-19 17:34] #38 closed

[2019-07-19 18:07] montoyo commented on #36
Perfect exemple URL @steinm07 🤣
Also @stepan14041999 did it fix your problem?

[2019-07-19 18:09] montoyo commented on #35
That's probably due to a bad forge version. Try with forge 14.23.2.2611

[2019-07-19 19:04] stepan14041999 commented on #36
Hi, it's uncomfortable using a additional tool for URL translating. We creating player-oriented server and what we can say to players? Use other site and copy-paste? May be, but i and many other peoples prefer useful integrated solution - working unicode support.

P.S. Sorry my bad english, plz

[2019-07-19 19:09] montoyo commented on #34
MCEF downloads its platform-specific resources from the MCEF website. So yes, kind of. The thing is JCEF is really buggy and it probably won't be as "plug & play" as you think... that's why I've never managed to get it working on Linux...

[2019-07-19 19:10] montoyo commented on #32
WebDisplays related, not MCEF

[2019-07-19 19:10] #32 closed

[2019-07-19 19:13] montoyo commented on #36
Will add something for this. Thanks.

[2019-07-19 19:14] stepan14041999 commented on #36
Thanks you. We will wait it with love <3

[2019-07-19 19:24] montoyo commented on #30
Thanks @binary1230 that was actually some good work and I'm really sorry I couldn't find some time to work on MCEF earlier. Since this is quite old, I've updated MCEF to the latest JCEF version myself, but your PR contains a lot of interesting stuff that I'll definitely check out.

The latest JCEF version contained a few others annoying things (like, the backspace key was broken, and also renderin

[2019-07-19 19:27] #29 closed

[2019-07-19 19:31] montoyo commented on #21
Maybe adding --enable-system-flash to JCEF's command line argument would do the job... do you have a link or something where I could test this?

Thanks.

[2019-07-19 23:39] montoyo commented on #36
Okay. This should be available in the next release.

[2019-07-19 23:39] #36 closed

[2019-07-21 03:04] ItsK1tty commented on #41
@montoyo it's been almost a month. I've deleted this .mp4

[2019-07-21 03:04] #41 closed

[2019-07-25 20:36] montoyo commented on #30
Annnd done. MCEF 1.11 released.

[2019-07-25 20:36] #30 closed

[2019-07-27 13:50] montoyo commented on #21
Hi. I've added an option in the mcef config file to add custom command line arguments to pass to CEF. Tell me if it changed anything...

[2019-07-27 18:15] Tank-Missile commented on #8
Since I'm noticing more activity on here, and the fact that the @binary1230's pull request was finally closed, is it safe to assume that linux is now supported, or is close to being supported? If not, what can I do to help diagnose any remaining issues?

[2019-08-03 11:36] aaronliu0130 commented on #7
I got it successfully compiled. I uploaded it [here](https://github.com/aaronliu0130/trashBin/raw/master/jcef.jar)

[2019-08-03 11:37] aaronliu0130 commented on #7
The app is working at least.

[2019-08-03 11:54] aaronliu0130 commented on #7
There are also other files I uploaded. The only files I can't find is config2.json and ffmpegsumo.so. The cef binary is too big, and I can't upload that.

[2019-08-03 12:52] montoyo commented on #7
Awesome! Have you tested it with MCEF? You don't need to upload your files, you could just setup an HTTP server on your local machine and use the "forceMirror" option in the MCEF config.

The mirror structure should be something like:
[code]

Also, config2.json should look like this: https://montoyo.net/jcef/config2.json

[2019-08-03 12:56] aaronliu0130 commented on #7
Does mod_version stand for MCEF version or whatever's version? I don't really understand the http server thing.

[2019-08-03 12:56] aaronliu0130 commented on #7
What's the ext file?

[2019-08-04 11:33] aaronliu0130 commented on #7
@montoyo I don't understand the whole http server thing

[2019-08-04 14:10] montoyo commented on #7
MCEF downloads binaries from a so-called "mirror" (= an HTTP server that hosts these binaries). Right now, there's only one mirror, which is my own website: https://montoyo.net/jcef/

On startup, MCEF fetches the config2.json file. Depending on the MCEF version and the platform its running on, it determines which binaries (= resources/files/whatever you'd like to call them) are required in order f

[2019-08-05 04:38] aaronliu0130 commented on #7
Thanks. And now I'm having some problems on uploading files.

[2019-08-05 04:45] aaronliu0130 commented on #7
Also, how do you apply the patches?

[2019-08-05 17:31] montoyo commented on #7
https://lmgtfy.com/?q=how+to+apply+patch+file
Sorry but my time for MCEF/WD development is quite is limited :/
I can give you all the information you need about the internal operation of MCEF, but I can't answer every single basic dev question you might have; I'm afraid you'll have to be a little more independent...

[2019-08-11 16:55] DatGayNekoBoy opened #43 "Whats the new version of mcef"
Is 1.1 the updated version or 1.0?

[2019-08-14 15:33] montoyo commented on #43
1.11; there is no 1.0 version

[2019-08-14 15:33] #43 closed

[2019-08-14 15:33] #42 closed

[2019-08-14 15:33] #35 closed

[2019-08-14 18:04] DatGayNekoBoy commented on #43
I meant 0.9 for mcef and 1.0 for website displays mod

[2019-08-14 18:24] montoyo commented on #43
Just take the latest version for both; so: MCEF 1.11 and WebDisplays 1.1 👌

[2019-08-14 18:27] DatGayNekoBoy commented on #43
Well thanks for clarifying that for me!

[2019-08-19 12:33] JustDave09 opened #44 "HTML5 video playing support ?"
Hello, i wanted to ask if the web display mod will ever support HTML5 so players can watch more videos without flash, or if there will be any possibility to add flash into mcef (i know about title on montoyo wiki). If HTML5 will be added, when ?
Thanks for response.

[2019-08-19 18:57] spannerman79 commented on #44
[HTML5 video](https://www.w3schools.com/html/html5_video.asp) can already be played. In fact testing with `MCEF-1.7.10-0.6` & `WebDisplays-0.11` I was able to play a ogg video.

I suspect this is just another duplicate of #39

[2019-08-21 09:59] JustDave09 commented on #44
Oh sorry, i restarted server and it was working but, is there any possibility to turn HTML5 videos in better quality than **360p**?
Thanks for response.

[2019-08-21 10:05] spannerman79 commented on #44
Assuming your ogg video is in fact 1920×1080;

Within `WebDisplay.cfg`
[code]
Change `I:ppp=` to 32 - but be warned unless you have something like a GTX1060 (or equivalent amd) or higher gfx card it might as well be in 360p with the FPS you'll get.

[2019-08-21 12:17] JustDave09 commented on #44
Thanks for responses :)
Sorry for bothering you but i want to ask whitch files are supported for web diesplays so i can upload them and then play in full resolution in YouTube, i tried .avi and .mov but both can support maximally 360p.
![stažený soubor (2)](https://user-images.githubusercontent.com/54268432/63431068-570c5600-c41e-11e9-8959-145b122d0c35.png)

[2019-08-21 12:19] spannerman79 commented on #44
....this is no longer an issue related to MCEF nor Webdisplays.

Take that issue up with Youtube.

[2019-08-21 12:24] JustDave09 commented on #44
Thanks for response, i already tried and the answer was that my browser is old or does not support higher resulation, i don't get it because some videos can be played at 8K and others can be played in 360p only.

[2019-09-01 10:33] wilsontulus opened #45 "HTML5 H.264 video support?"
Excuse me, but, can you please add some H.264 support for MCEF? I know there's no web browser mods for Minecraft other than this, and I know there's another user who already posted this kind of issue, but unlike the others I will give you some tips and ideas about how to add H.264 support to Chromium.
The reasons are, first, my friends want to watch some livestreams on Twitch and YouTube in Minecr

[2019-09-10 01:47] creepinson opened #46 "1.8.9 support"
I can't find an api link for 1.8.9 although someone else said he got a 1.8.9 version?? Is there support for 1.8.9? I could only find 1.8 and not 1.8.9.

[2019-10-15 04:04] SakuraLove opened #47 "How to use the other JCEF and CEF that compiled by myself"
I compiled JCEF and CEF which come with the MP4 support, but how can I use that on the MCEF?

[2019-10-15 04:53] #45 closed

[2019-10-15 04:53] #21 closed

[2019-10-15 04:54] #46 closed

[2019-10-17 16:28] ikcikoR opened #48 "Support for new Minecraft versions (1.14+)?"
I really love the mod and I use it a lot with my friends, I am adding it into every modpack I play and watch tutorials or some other random videos. Idk how complicated it is to update this sort of mod and it's sad to see that the project is partly dying. I'm personally a beginner in programing and I have no idea how all of those things work so I can't do it on my own. I wanted to know if there is

[2019-10-17 16:45] montoyo commented on #48
Hi,
Will do whenever I get some free time :)

[2019-10-17 17:19] ikcikoR commented on #48
I'm really glad to hear that, I think that I'm as hyped as I was for Minecraft Earth

[2019-10-17 21:59] spannerman79 commented on #48
I'd rather Fabric support over Forge to be honest @montoyo

[2019-10-18 04:02] Tank-Missile commented on #48
@spannerman79 I'd say focus on getting linux support working first. Platform support before version support, I say. I agree with you, though. I messed with fabric for a bit, and it has a much smaller footprint. If the code is modularized enough, it can be made to work with both forge and fabric.

[2019-10-18 04:56] montoyo commented on #48
Never heard of Fabric. Why should I use this over Forge? 🤔

[2019-10-18 05:04] spannerman79 commented on #48
From what I understand about Fabric is that it is much lighter and allows you to do what you please.

Fabric: Here you go, build your own bricks and go crazy

Forge: These are your building blocks.

Very simplistic way to explain.

@Tank-Missile I know as it was me that suggested it https://github.com/montoyo/mcef/issues/8

[2019-10-18 05:07] montoyo commented on #47
Hi,
This is great news!

There should be a setting in the config files called "skipUpdates". Setting it to "false" should allow you to replace the (J)CEF DLLs.

Also: did you choose the right JCEF commit (and its corresponding CEF version), and did you apply the patch files? Might now work without it...

[2019-10-18 07:39] montoyo commented on #8
Got MCEF working on linux 64 bits. However, there's a caveat: the user *HAS* to modify LD_LIBRARY_PATH on his own...

[2019-10-18 09:21] Tank-Missile commented on #8
@montoyo What exactly does LD_LIBRARY_PATH need to be set to? Why does it need to be manually set?

[2019-10-18 10:10] montoyo commented on #8
@spannerman79 That sounds good
@Tank-Missile You need to append the Minecraft folder to LD_LIBRARY_PATH. It has to be manually set because changing it at runtime has no effect (as far as I know, but I'll try to do it, just in case...), so you need to set it before you start Minecraft. This would look like this:

[code]

But please note that this won't work yet since I haven't uploaded the librarie

[2019-10-18 10:43] spannerman79 commented on #8
Reference: From the MultiMC discord;
https://discordapp.com/channels/132965178051526656/134843027553255425/471558931660144640

wrapper script with the following possible env vars;
[code]

[2019-10-18 11:10] Tank-Missile commented on #8
This is quite exciting to hear! I eagerly await for the binaries.

[2019-10-19 07:44] webdisplaysfan commented on #8
I am really happy to hear that ! Thank you

[2019-10-23 16:30] SakuraLove commented on #47
Anything I need to change besides the config?

[2019-10-24 13:52] Bricklou commented on #8
I did some test on linux and I managed to get the mod to work with native compiled on my own. I still have some bugs but it's a good start.

![image](https://user-images.githubusercontent.com/15181236/67491473-4aea8200-f675-11e9-8a74-cbbbd033acfc.png)

[2019-10-24 14:06] montoyo commented on #8
Yeah... works but as I was expecting I'll have to fix the goddamn keyboard input...

[2019-10-24 22:35] Tank-Missile commented on #8
@Bricklou Did you need to modify LD_LIBRARY_PATH in your testing as well? I compiled from the master branch, but still haven't had any luck yet.

[2019-10-24 23:01] Bricklou commented on #8
Yes I did it, else it crash when I try to launch the game. And it work only in IDEA and not with the production jar. Impossible to load the mod with MultiMC.
I had to change the code about the update of the file `mcef2.json` to avoid overrides and and Linux files inside.
I also have some problems with cefRouter which is always null (there: https://github.com/montoyo/mcef/blob/0c67e3466c56f8f79b3b1

[2019-10-24 23:04] montoyo commented on #8
Interesting. Except the keyboard input, everything is fine here. Did you checkout the correct jcef commit and did you apply the patches ?

[2019-10-24 23:09] Bricklou commented on #8
I didn't done any patch with JCEF, I just run it by copy all compilation output in the game folder and updated the `mcef2.json`.
What the patch does ?

[2019-10-24 23:17] montoyo commented on #8
Actually, the patches don't do much on Linux... the most important part is to use the correct jcef commit. Check out https://github.com/montoyo/mcef/blob/master/native/README.txt

[2019-10-24 23:23] Bricklou commented on #8
Oh I see, I'm currently using the latest commit of JCEF (29f220db2ec079b9270054d9be5bcdacd8113717)

[2019-10-24 23:34] Tank-Missile commented on #8
@montoyo I'm a bit confused now. Do I need to do more than a gradle build on the master branch? @Bricklou Yes, I noticed that MCEF would enter virtual mode due to a missing version entry in mcef2.json. It seems certain entries aren't being generated in the file.

[2019-10-29 07:07] zerothemegaman opened #49 "Twitch Livestreams?"
First of all, thanks for the epic mod.
For some reason, I can't connect to any livestream on Youtube or Twitch (says bad browser or video format). I've seen other people do it before, but that was like a few years ago so I don't know if something changed. Is it still possible with the latest version?

I'm running 1.12.2
Thanks.

[2019-10-29 08:27] Tank-Missile commented on #8
@spannerman79 @Bricklou I made the changes needed to get the mod to the point where it asks for LD_LIBRARY_PATH to be set, but setting LD_LIBRARY_PATH is a different story. Attempting to set it with MultiMC is an absolute pain. The wrapper script appears to be outdated, and no matter what it's set to, I always receive the following error:

[2019-10-29 08:40] Bricklou commented on #8
What if we put this variable in our bashrc/zshrc/... ?

[2019-10-29 08:54] Tank-Missile commented on #8
Under normal desktop usage, searching under the minecraft directory for libraries is unnecessary. LD_LIBRARY_PATH only needs to be set when launching the game.

[2019-10-30 23:17] spannerman79 commented on #8
I can't test until @montoyo gives an alpha (or beta) build on Linux

@Bricklou if you are using MultiMC it doesn't read or touch bashrc vars - its why you cannot use optirun bashrc var and need to hook into an actual shell script.  Or just use optimus-manager.

@Tank-Missile you shouldn't have to use a shell script - it should be able to be enetered directly into Pre-launch within MultiMC. Well in

[2019-12-03 19:43] Tank-Missile commented on #8
@montoyo Any progress on this?

[2019-12-12 16:36] RisingInIris2017 opened #50 "Game stuck when initializing"
Mod version:
WebDisplay 1.1, MCEF 1.11
Forge version: 1.12.2-forge1.12.2-14.23.5.2838
Singleplayer or Multiplayer: Singleplayer
Description:
When I start game, it will be initialized normally, but stops when it tries to load some textures.
Here's a part log:
[23:25:53] [Client thread/INFO] [MCEF]: Now initializing MCEF v1.11...
[23:25:53] [Client thread/INFO] [MCEF]: Selected mirror: montoyo.net (

[2019-12-12 16:54] spannerman79 commented on #50
Not related to this issue tracker

[code]

Look at the github user ID - `gegy1000` and look at the user ID of this repo - `montoyo`

Not a webdisplay nor a MCEF issue.

[2019-12-13 14:37] RisingInIris2017 commented on #50
Thanks for your help!
Problem has been solved. It was because the LLibrary mod, made by gegy1000, tried to update something about Patreon, but failed, and then game was stuck.
Thanks again!

[2019-12-14 07:04] RisingInIris2017 commented on #50
I have got another player's latest.log, he also said his game stuck when initializing.
https://paste.ubuntu.com/p/GnTjfVPsNF/
I used Find&Replace tool to search strings "gegy1000" and "patr" but found nothing.
I think this time the problem is not caused by LLibrary.
Looking forward your kindhearted help.

[2019-12-14 12:04] spannerman79 commented on #50
[code]

For the love of **GOD** when will people stop using non ANSI characters in their username on windows...

Line 1438 of that paste. Java on windows **does not handle unicode in paths**.  That path contains unicode.

@RisingInIris2017 - next time - take the time to learn to read logs.  You'd be surprised at how _easily_ with some time and care you'd be able to track down something as simple a

[2019-12-22 01:25] AdovinOFFICIAL opened #51 "Is HTML5 supported because YouTube streams don't work nor do Twitch streams"
I get the #4000 error on Twitch when trying to watch a livestream and I get an unsupported error on YouTube.

[2019-12-22 04:29] spannerman79 commented on #51
goto http://html5test.com/ in WebDisplays save and share the result URL

[2019-12-22 05:17] AdovinOFFICIAL commented on #51
Didn't mean to re-open, closing for now since I uninstalled the mod due to streams not being playable, and I can't test the html5test.com so I'm gonna close it.

[2019-12-22 05:17] #51 closed

[2019-12-22 05:20] spannerman79 commented on #51
So let me get this right - you created an issue, and couldn't have the paitence long enough expecting an **immediate** reply, removed the mod and at the same time kept this issue opened expecting others to read your mind??

[2019-12-23 20:40] AdovinOFFICIAL commented on #51
nope it was because you made your reply at the same time it was uninstalled, i came to the page to close the issue and saw your reply and thought "well shit" its a big modpack that takes like 10 minutes to load up. and i didnt want to make my friends close their minecraft once again and reinstall it so we can figure out what is wrong with it

[2020-01-17 11:55] nnn950711 opened #52 "How to update Google's version for-> 1.7.10"
How do I update the browser version of 1.7.10 ?

I can't watch the broadcast.

[2020-01-17 12:40] spannerman79 commented on #52
What boradcast?

We aren't mind readers....

[2020-01-20 07:46] nnn950711 commented on #52
I can't watch the news, he will ask me to update my browser.

[2020-01-20 07:49] spannerman79 commented on #52
Unless your more specific I'm going to say Duplicate of https://github.com/montoyo/mcef/issues/39#issuecomment-482915851

[2020-01-20 08:00] nnn950711 commented on #52
Sorry my english is not very good.

Simply put: He says my browser is an old version, which makes it impossible for me to watch some content.

Html5 is not supported in legacy versions.

[2020-01-24 16:36] #50 closed

[2020-01-24 16:39] montoyo commented on #52
Yeah well... updating Chromium takes a lot of time, which I don't have. Anyway, 1.7.10 is quite old now, so I'm sorry but I won't fix.

[2020-01-24 16:39] #52 closed

[2020-02-04 05:37] xunto commented on #8
I can't wait to use it for my mods.

[2020-02-04 05:40] spannerman79 commented on #8
@montoyo Is there any update on this?  I still am very interested in helping out testing wise

[2020-02-06 21:49] montoyo commented on #8
I don't know what's happening with Linux. Somehow, it works fine when I launch it from IntelliJ, but as soon as I build the mod and start Minecraft, CEF crashes. At first I thought it was the new Minecraft launcher (which also uses CEF, and this causes a lot of issues); but I just launched it without it and I still have that crash.

It's really annoying because I don't have any log that could help

[2020-02-07 20:58] spannerman79 commented on #8
@montoyo  Could you create a little guide - either as a `.md` or a wiki link on how to (easily) compile MCEF & WebDisplays?

The more eye balls on this to help the quicker to pin-point and shine a light on issues.

_NB: I've been spoilt with [yay](https://github.com/Jguer/yay) lol_

[2020-02-14 18:04] Tank-Missile commented on #8
So I compiled mcef myself and used it with the latest web displays version, but something is screwed up with cef or multimc. The .pak files can't be found. [Here is the full log](https://hastebin.com/kavudelodi.md).

[2020-02-15 01:07] spannerman79 commented on #8
@Tank-Missile which env vars need to be exported?

[2020-02-15 01:15] Tank-Missile commented on #8
@spannerman79 LD_LIBRARY_PATH. The mod will display an error if it's not set. Upon setting it, however, the error in the log occurs and the game crashes.

[2020-02-15 01:21] spannerman79 commented on #8
I'm going to assume you did the following;

`sh -c "export LD_LIBRARY_PATH=$INST_MC_DIR;exec $INST_JAVA \"$@\""` ?

[2020-02-15 01:25] Tank-Missile commented on #8
@spannerman79 Look at the log.

[2020-02-15 01:44] spannerman79 commented on #8
That log is hastebin - MultiMC use paste.ee - see https://github.com/MultiMC/MultiMC5/blob/develop/api/logic/net/PasteUpload.cpp#L34..L50

And no - you didn't use envars that MultiMC defines.  You hard pointed it which _could_ cause an issue - expecially if you move or rename the instance.

Hence why I stated **$INST_MC_DIR** - see https://discordapp.com/channels/132965178051526656/546322531917758

[2020-02-15 02:02] Tank-Missile commented on #8
@spannerman79 That's because I copied the log to hastebin. paste.ee only lets the log stay around for a month. It might take longer than a month for @montoyo to take a look at it.

[2020-02-15 21:00] montoyo commented on #8
@spannerman79 Too busy to write the detailed instruction on how to compile the CEF native for Linux, but it looks like something like this :
 * Clone JCEF
 * Checkout the correct commit (can be found in native/README.txt)
 * Apply patches
 * `cmake .`
 * (You might have to fix the CMakeCache and change the python executable, because it will probably choose python 2 instead of 3, or the opposite...

[2020-02-15 21:03] montoyo commented on #8
After patching getJcefLibPath(), it should be crashing.... and I don't know why :/

[2020-02-16 05:14] Tank-Missile commented on #8
@montoyo How exactly did you patch getJcefLibPath()? [There's a patch from an issue reported 6 years ago](https://bitbucket.org/chromiumembedded/java-cef/issues/128/jcef-fails-to-start-when-embedded-in-a) that attempts to fix a similar issue I think.

[2020-02-16 08:45] montoyo commented on #8
For MCEF's purpose, getJcefLibPath() should return the Minecraft folder, which can be found in MCEF's ClientProxy.ROOT

[2020-02-16 20:49] Tank-Missile commented on #8
You're right. I changed getJcefLibPath() to return ClientProxy.ROOT, and now it crashes without a stack trace. Well, at least I'm finally at this point, so I'm going to see what I can do to figure out what is going on.

[2020-02-16 20:51] montoyo commented on #8
Yeah... and the fact that it works perfectly fine with IntellJ just kills me...

[2020-02-17 05:46] Tank-Missile commented on #8
[You may be able to use jdb to debug the JVM](https://docs.oracle.com/javase/7/docs/technotes/tools/solaris/jdb.html). I'm not exactly sure how to use it, but I did figure out how to attach it to the running JVM. Add this to your java arguments:

``-agentlib:jdwp=transport=dt_socket,address=8000,server=y,suspend=n``

Launch the game, and then type this in a terminal:

``jdb -attach 8000``

From th

[2020-03-04 08:23] ArcaneBlackwood commented on #8
[code]
Segmentation fault?  Seems to be something from the `libjcef.so` library and onward.  Right as it initializes it fails without stacktrace.  If it is a segmentation fault, I wouldn't expect that from java itself, but something in a pre-compiled binary.

I don't know much about anything in this field, but I wouldn't be surprised if the java runtime didn't catch a severe exception from a binar

[2020-03-21 12:58] lyuben-todorov commented on #8
Any updates on this?

[2020-04-01 22:12] darknessNBK commented on #48
We want 1.15.2 support too. @montoyo

[2020-04-10 20:25] nicholasjackson opened #53 "Mac Version"
Hi there,

I have been looking at building a Mac version of the plugin so that web displays would be compatible on OSX.

So far so good I have the CEF building and was just looking at getting mcef to work with it. For the moment I am working round the resources when building locally but was wondering if you would accept a PR for this when done?

Kind regards,

Nic

[2020-04-11 03:45] NightAlpha opened #54 "It seems that openJ9 is not supported"
Screen stays white if I use OpenJ9 to strat the game,the game version is 1.12.2 ,forge2847
sorry,I'm not good at english

[2020-04-14 11:14] nicholasjackson commented on #53
I now have this all working, dependencies are contained in a single bundle which is built from the JCEF project. Need to tidy up a few things but so far so good.

<img width="1680" alt="Screen Shot 2020-04-14 at 12 00 03" src="https://user-images.githubusercontent.com/773533/79218680-b523f880-7e48-11ea-9d10-bc058954ab01.png">

You can see a video of this operation below, the audio qualiy is due to

[2020-04-17 12:57] Geertiebear commented on #53
Hi, it's cool to see you got it working on Mac. I am interested in a Mac build too and I was wondering if there were any special build steps you had to take to get it working, and if so, if you would mind sharing them so I can try and compile a version for mac too. Thanks in advance.

[2020-04-26 18:02] Dface-crypto commented on #35
I have the same problem as TheLionWarlord. Please help. I'm developing a virtual concert venue in Minecraft for a charity event on 8 May and Web Display is the only way I can see to stream the concert in the virtual venue. I have installed forge 14.23.2.2611 as well as the latest version of forge with the same crash (full crash report attached).
[crash-2020-04-26_18.53.16-client.txt](https://githu

[2020-05-09 05:20] killercatfish commented on #53
Where are we on this?  I am happy to donate a 2009 iMac to the cause to make this official :-)

[2020-05-29 00:20] TheGunk commented on #8
Any updates on this? @montoyo

[2020-06-02 12:22] xunto commented on #8
I don't think constantly poking him with this question will be of any help. You can see for yourselves that there is no update in repository so there is probably no update on this issue.

We should probably accept that author lost interest to the project (or have other things to do) and try to do it ourselves.

[2020-06-20 17:51] SantaHey commented on #47
Hello, did you succeed to make MP4 working ?

[2020-06-25 20:35] dsco01 commented on #5
I know 1.7.10 is not supported at this time. I was trying to get the code to make the necessary edits to make sure it was able to close properly or if derofim can repost his working version.
Can anyone help with that?

[2020-06-28 20:07] Agushh commented on #49
I have the same problem, but not only on twitch, in all non-youtube page. I would like to know what the problem is and if it can be solved.

[2020-07-15 13:38] xunto commented on #8
I tried another non-default launcher (TLauncher) and got this output.
[code]

I thought it may be the path but it's ok according to inotifywait.
[code]

Not sure if this is the same problem and this output just eaten by mojang launcher but it may be the case.

[2020-07-17 11:59] Just-Prog opened #55 "Codec Problem? Video and music couldn't play normally"
(First I want to express my thanks to to the developer Montoyo and my English is poor, I'm sorry to make you hard to understand my issue XD)

When I trying to watch video on Youtube [Lost Sky - Lost [NCS Release]](https://www.youtube.com/watch?v=h-nHdqC3pPs)

![2020-07-17_19 39 56](https://user-images.githubusercontent.com/62735122/87782644-81040d80-c865-11ea-8fb2-ea1e887f1bbf.png)

![Statics](htt

[2020-07-22 22:48] mptorz commented on #53
@nicholasjackson Is it possible to download your built from anywhere?

[2020-07-26 04:35] RomualdYT commented on #53
Hello @nicholasjackson, any news about the mac version? :)

[2020-07-26 14:47] nicholasjackson commented on #53
Hey sorry I thought I had already posted this, seems like I replied directly to an email.

I never found the time to finish tidying this up but I am happy to share where I am at with this.

The following branch is where I am building mcef from. There are quite a few changes in there, most of the code is to update to the latest version of JCEF library and to temporarily simplify configuration only

[2020-07-26 15:25] montoyo commented on #53
Wow amazing work! I ended up thinking it was impossible.... A few things if you want to create a PR:

- Seems like your IDE reformatted the whole code; I don't care about the formatting of the code you added but previous code should not be reformatted as it makes the diffs extremely hard to read.
- Merge MCEF 1.20 as it contains useful code for Linux (if Linux is ever going to be a thing)
- Which

[2020-07-26 15:42] nicholasjackson commented on #53
Hey, sorry I have just fixed the permissions on the link.

https://drive.google.com/drive/folders/1oSkcQzbp2iaw4gsok4-S3tQOW1TwmvTu?usp=sharing

Ah yes, that branch is just a hack, I will reformat it and do a PR, will also see if there is a nicer way to get round JCEF application bundle without patching. I tried a million things when I first started experimenting and this was the only way to get i

[2020-07-27 00:34] montoyo commented on #53
Thanks.
To be honest I don't really like to work on it because JCEF is unstable af. Cross-platform is a real challenge (as you can see 😆) and the new Minecraft launcher (which also relies on CEF) also creates a **TON** of issues.

[2020-08-06 13:58] mptorz commented on #53
Also which version of WebDisplay are you using with it? When I a trying to load your compiled mcef with webdisplay I get this error:
[code]

[2020-08-07 02:24] pokycraftgamer9 opened #56 "Flash the 3rd time over"
So I do flash stuff Alot and i thought it would be funny to do a flash game in Minecraft as a joke but I cant seam to get it working.

OS:Windows 10
Flash is installed
Minecraft:1.12.2 Forge
MCEF:1.1.0

[2020-08-07 03:21] spannerman79 commented on #56
Read https://github.com/montoyo/mcef/issues/21

[2020-08-13 17:41] pokycraftgamer9 commented on #56
thats for 1.7.10

[2020-08-20 04:47] luyichen-window opened #57 "打开后白屏"
系统：Windows10（家庭版），游戏版本：1.12.2forge-14.23.5.2854，问题：安装浏览器mod后浏览器界面白屏无法操作

[2020-08-23 19:02] geumu commented on #53
yeah i have same error is there mac webdisplay mod exist?

[2020-08-25 00:42] Rubrizar commented on #53
How is the procedure to install it? Can someone explain to me, please? :(

[2020-08-26 17:15] xueyeshengdan commented on #55
cef相关dll的问题的 默认编译不包含FFmpeg 得自己编译个支持FFmpeg的版本 研究了一晚上没搞出来...

[2020-08-26 17:21] xueyeshengdan commented on #53
Could you plz also provide a mcef.jar which compiles with FFmpeg?

[2020-08-26 17:22] spannerman79 commented on #56
It still applies.

[2020-08-27 12:03] xueyeshengdan commented on #55
Solve it here https://github.com/xueyeshengdan/mcef

[2020-08-28 13:00] HenrikoMagnifico opened #58 "Can be Windows version still be used on MacOS Clients?"
Hi! I'm curious about utilising this mod in my modpack, however I would only want to add it if everyone can still use the modpack normally even if they don't run Windows. It would not have to work or load on Mac, only on Windows, but the rest of the game would still have to work for MacOS users. Is this possible?

Cheers!

[2020-09-08 19:35] OneSharpAce commented on #47
I have compiled the CEF binaries, next will be JCEF, however could you explain what you meant by "apply the patch files"?

[2020-09-12 21:08] #34 closed

[2020-09-14 08:09] OneSharpAce opened #59 "JCEF Version Update"
So I recently compiled JCEF with H.264 support. However as you have previously stated the process to hours (6 hours total). However now as a personal challenge, I want to experiment with getting Widevine working, so that Netflix is functional. However I wanted to check with you first about any updates you have planned, as to not spend the time and effort, only to have to spend it again on a new JC

[2020-09-14 11:16] montoyo commented on #59
Hi,

Congratz on successfully compiling JCEF! No update planned on MCEF for this month as I am extremely busy and don't have time for MCEF nor WebDisplays.

Kind regards,
 - montoyo

[2020-09-19 22:48] Just-Prog commented on #55
谢谢国人开发者的指导

~~帮大忙了~~

[2020-10-04 20:40] LoyaltyGamer72 commented on #59
@OneSharpAce you got mcef running with h264 support? If yes does it work with the current web displays?. And finally if all that works, can you send the mcef version to me please, been searching for a way for weeks. I don't know how to compile the jcef.

[2020-11-20 21:13] lukaplayz commented on #53
hi I downloaded that mcef mod file from the google drive folder you provided and it still doesn't fix the mac issue.
by the way, what do I have to do with that jcef_app.app

[2020-11-24 21:40] lukaplayz opened #60 "Mac Version?"
Hello! I desperately need a Mac version of the mcef mod!
I do not know how to compile mods so please help me!
There is an issue open about a mac mod version but the download link it states does not work.

Please I am really begging you guys to give me a mac mcef mod version that works!

[2020-12-23 12:20] TechTastic opened #61 "Crashing on latest Forge version?"
[crash-2020-12-23_06.08.23-client.txt](https://github.com/montoyo/mcef/files/5735084/crash-2020-12-23_06.08.23-client.txt)

[crash-2020-12-23_06.08.24-client.txt](https://github.com/montoyo/mcef/files/5735082/crash-2020-12-23_06.08.24-client.txt)

What is happening?

[2020-12-26 07:18] WhatTheHecht opened #62 "Server"
Hi, I installed this on my private MC server, and when I go on youtube, it shows one thing for me, and another for my friend. What can I do about this?

[2021-01-03 12:18] Failip420 opened #63 "HTTPS Support?"
when trying to login anywhere https it fails because it's http and not https
is it possible or will you implement https support?

[2021-01-04 11:44] qwq-2020 commented on #55
请问能給一个编译好的dll吗

[2021-01-06 17:22] NatalectEntertainment commented on #58
No the screen stays white

[2021-01-06 17:23] NatalectEntertainment commented on #60
There is a Mac version but it is not compatible with web displays

[2021-01-06 17:41] NatalectEntertainment commented on #61
I don't know, it was happening to me too

[2021-01-06 17:47] NatalectEntertainment commented on #7
Are You still working on this?

[2021-01-06 18:20] mloparco commented on #7
Yes sir, I am still working on it, the Windows version is awesome, would love a Mac version if possible, how are things on your end?

[2021-01-22 22:48] idkyes opened #64 "Screen is staying white."
The screen stays white but I'm on windows 10. What could I do?

[2021-01-25 15:10] AdminHcat commented on #57
你可以使用我的国内镜像地址尝试加载mcef资源文件（只有64位）

方法：
1、打开mcef.cfg文件
2、找到配置项 forcedMirror
3、将值修改为 http://api.hcat.work:366/jcef

[2021-01-25 15:33] montoyo commented on #57
Do this at your own risk. http://api.hcat.work:366/jcef is **NOT** an offical MCEF mirror and thus the files provided by it are insecure.

[2021-01-27 23:00] MagmaMCNet commented on #64
me to

[2021-01-27 23:21] MagmaMCNet commented on #64
wwait its fixed just donwload the beta version of mcef

[2021-01-28 08:03] #64 closed, assigned to nobody

[2021-01-31 02:43] Hato626 commented on #55
请问能给一个编译好的dll吗

[2021-02-01 01:44] Juestan commented on #62
Nothing, mcef uses the player connection to the internet not the server, thats the problem.

[2021-02-01 02:40] montoyo commented on #62
This should be on the WebDisplays repo, but anyway... JeysRT is correct. For more info, read https://montoyo.net/wdwiki/index.php?title=Screen#Multiplayer_synchronization

This is a limit of WebDisplays and will always stay this way. Potential "fixes" for this issue would result into serious security issues or performance issues.

[2021-02-01 02:40] #62 closed

[2021-02-02 13:35] q187415157q2345q commented on #4
Can you share the source code with me? I want to open a mirror station

[2021-02-10 11:18] MangyCat opened #65 "Unable to sign into Google"
Whenever I attempt to sign into Google, it gives me a message that the browser is insecure and won't let me sign in.

I recommend that you probably update the chromium browser.

[2021-02-15 19:36] Jacobwasbeast commented on #8
Anything new?

[2021-02-17 18:50] Jacobwasbeast commented on #8
For anybody wondering how to fix this with 1.11b or just a easy fix here are some steps below
1. install wine or lutris (Tested on lutris wine)
2. install the Windows Minecraft launcher/ Windows MultiMC
3. install 1.12.2  Forge
4. add mods
5. launch
6.Enjoy working MCEF

[2021-02-17 19:42] Tank-Missile commented on #8
@Jacobwasbeast I think needing to run Minecraft through WINE to get MCEF working defeats the purpose of native support, which is what we've been waiting all this time for. JCEF is incredibly fragile, and debugging it is nearly impossible.

[2021-02-17 20:08] Jacobwasbeast commented on #8
@Tank-Missile I see what you mean and getting native support would be great but I feel until a solution is made without any crashes I think wine may be the only method for linux MCEF to work. I also made the comment to help anyone who may not be able to get MCEF to work as I was not able to when I was viewing this issue.

[2021-02-28 21:32] ItsK1tty opened #66 "Montoyo, please answer!"
[#114](https://github.com/montoyo/webdisplays/issues/114)

[2021-02-28 22:47] spannerman79 commented on #66
Opening multiple issues is just a sure fire way to piss off the dev.

Simply put - **don't do it!!**

Devs do this in their own time as its their passion when they have the actual spare time.

If you (or anyone) cannot wait go and **pay** a java dev.

[2021-02-28 22:52] ItsK1tty commented on #66
I have nothing left to do. I've been trying to get an answer for a whole
month, waiting patiently while seeing him active in some private
repositories. Sorry, but I have no choice.

On Mon, Mar 1, 2021, 1:47 AM Spanner_Man <notifications@github.com> wrote:

[2021-02-28 22:55] spannerman79 commented on #66
You **do** have a choice.  Everyone has a choice to be someone that is actually considerate that this is done out of their own spare time **and wait** or you can be a dick and make demands and in effect jumping up and down like a spoilt brat (re creating multi issues) **demanding** attention.

[2021-02-28 23:00] ItsK1tty commented on #66
It's been an issue I was trying to resolve for 2 years since updating MCEF
to the last version of CEF didn't help. I'm tired of waiting.

On Mon, Mar 1, 2021, 1:55 AM Spanner_Man <notifications@github.com> wrote:

[2021-02-28 23:02] spannerman79 commented on #66
_Oh bo ho, poor lil you_...

https://github.com/montoyo/mcef/issues/8

Wait in line like other people...

Immature child....

[2021-02-28 23:04] ItsK1tty commented on #66
Eh, Linux support is also a problem, but that's not what I mean. Anyway, I'm open to suggestions.

Actually, I'll just leave it. Meh.

[2021-02-28 23:11] #66 closed, assigned to nobody

[2021-03-12 09:33] bugbrekr commented on #65
Google doesn't allow embedded frameworks for authentication. There is a workaround to this which involves changing the `user_agent string` to something like `Mozilla/5.0 (Windows NT x.y; rv:10.0) Gecko/20100101 Firefox/10.0`. But I am not sure how to change the user agent.

[2021-03-17 18:44] JosephTech9785 commented on #8
Reading this whole thing has been super helpful. it's been a while since the last comment, is there any new news as far as getting mcef to work on linux?

[2021-03-29 20:28] Jsanderson2005 opened #68 "Couldn't download mcef2.new! Couldn't even get the HTTP response code!"
Hi, I was trying to run WebDisplays on minecraft and I got this error, causing the screens to be white. Is there any way I can fix this?

Thanks

Log file:
https://pastebin.com/R2NABmnJ

[2021-04-08 23:29] MARINAPLAYZ opened #69 "screen stays white"
I'm on Windows 10  and the Web Display screen is just blank when I turn it on, when I turn it off it's still white how do I fix this?

[2021-04-20 18:14] Schnell1337 commented on #69
same

[2021-05-07 07:07] SlothMna opened #70 "Cant play the game game crash."
It writes:  The game crashed whilst there was a severe problem during mod loading that has caused the game to fail
Error: net.minecraftforge.fml.common.LoaderExceptionModCrash: Caught exception from WebDisplays (webdisplays) exit code: -1

[2021-05-26 13:48] Alvaroski1 opened #71 "Screen White, didn't show webs"
I already download Webdisplays mod for Minecraft 1.12.2, I'm on Windows 10. The Wiki of the mod said that exist a bug in mcef that didn't allow you to see the webs and you only can see the white screen, if anyone can help me to find a solution, I would be thankful.

[2021-05-29 11:47] MangyCat opened #72 "Screen is white"
OS: Linux, Ubuntu 20.10 arm64
Minecraft version: 1.12.2
Mods: Optifine, Foamfix, MCEF, WebDisplays.
I'm also using an unofficial minecraft launcher, that shouldn't affect the gameplay
I'm having an issue where the screen is white, the game doesn't crash
Heres the log if you need it
[latest.log](https://github.com/montoyo/mcef/files/6564611/latest.log)

[2021-05-29 12:02] MangyCat commented on #72
Also when I opened the modded version directory it had no mcef related files like libegl, etc

[2021-05-29 13:25] Bricklou commented on #72
MCEF work only on Windows, not Mac neither Linux.
Take a look at: #8

[2021-06-07 17:06] josephus289 commented on #69
I have the same problem! Can someone help us?

[2021-06-07 17:22] Bricklou commented on #69
Did you all installed Web Display **and** MCEF ?

[2021-06-09 16:55] josephus289 commented on #69
yes, I tried all versions! (1.10;1.12)

[2021-06-18 14:51] Gauthierrrr commented on #53
Hello !
With Erasmus + and therefore the European Commission, the French Ministry for Europe and Foreign Affairs, Fonjep Solidarité Internationale, ISIT, and the University of Poitiers, (yes, yes, you read all these names correctly…) we are working on developing a Minecraft MEU. I'm not going to take the time to explain what it is because I'm being asked to return all my work on the project soon,

[2021-06-18 15:42] ds58 commented on #53
@Gauthierrrr Hi! I am very interested in your project and would like to help with your issue.

I have recent experience integrating CEF with Minecraft and could easily update MCEF to work with the latest versions of CEF on both Windows, MacOS, and Linux (if also required).

(For anyone else -- I will post forks of MCEF here that have been updated if and when I complete them)

[2021-06-19 03:46] ds58 commented on #53
@Gauthierrrr I've updated my fork of MCEF to work on macOS. Please try it here: https://github.com/Ruinscraft/mcef/releases/tag/1.12.2-1.30

I would appreciate testing by anyone else as well

[2021-06-19 03:47] ds58 commented on #59
Hi,

I've updated the JCEF version of MCEF on my fork located here: https://github.com/Ruinscraft/mcef/releases/tag/1.12.2-1.30

[2021-06-19 03:50] ds58 commented on #58
Hi,

I've forked the project and have added macOS support here: https://github.com/Ruinscraft/mcef/releases/tag/1.12.2-1.30

[2021-06-19 03:51] ds58 commented on #8
@spannerman79

Hi!

Well this issue has been open a long time. Hopefully I can put it to rest. I've forked the project and added proper Linux and macOS support. Made a PR so it hopefully gets merged at some point. Here's my release: https://github.com/Ruinscraft/mcef/releases/tag/1.12.2-1.30

I would appreciate any testing or feedback.

Thanks!

[2021-06-19 03:52] ds58 commented on #7
See https://github.com/montoyo/mcef/issues/53#issuecomment-864349878

[2021-06-19 03:53] ds58 commented on #63
Hi,

If possible, try my fork which updates the Chromium version. It may solve your issue: https://github.com/Ruinscraft/mcef/releases/tag/1.12.2-1.30

[2021-06-19 03:54] ds58 commented on #60
See https://github.com/montoyo/mcef/issues/53#issuecomment-864349878

[2021-06-19 03:56] ds58 commented on #72
Hi, since you're using Linux, see https://github.com/montoyo/mcef/issues/8#issuecomment-864350343

@MangyCat

[2021-06-19 03:58] ds58 commented on #71
Hi,

I've updated the mod to work the latest version of Chromium and fixed various other issues. I believe it will solve your "white screen" issue. Hopefully the author can review my PR soon. See my release here: https://github.com/Ruinscraft/mcef/releases/tag/1.12.2-1.30

[2021-06-19 03:59] ds58 commented on #69
Hi all,

See https://github.com/montoyo/mcef/issues/71#issuecomment-864350960

[2021-06-19 04:00] ds58 commented on #68
Hi,

See this comment: https://github.com/montoyo/mcef/issues/71#issuecomment-864350960

[2021-06-20 00:05] xunto commented on #8
@dextonanderson Wow, I can't believe this is happening! Good job!

[2021-06-20 00:41] ds58 commented on #8
Thanks!

Let me know if you run into issues.

One additional thing I am working on at the moment is releasing binary patches to add the additional proprietary codecs to CEF.

Of course, I can't host the final proprietary binaries myself because of licensing issues. My JCEF mirror has the freely licensed binaries.

My binary patches will get around the licensing because the end user will use the pa

[2021-06-21 22:11] Meepusoof opened #74 "my screen is white but im on windows"
i followed the instructions and everything but my screen is still white, and I'm on windows. What do I do?

[2021-06-21 22:24] ds58 commented on #74
This version of MCEF is outdated.

I have updated the project and it should resolve your issue: https://github.com/Ruinscraft/mcef/releases/tag/1.12.2-1.30

[2021-06-22 17:10] Gauthierrrr commented on #53
Hello @dextonanderson !
I didn't answer earlier because we couldn't test what you did ...
Our mac tester is busy this week and our entire organization team is on Windows ...
But I'm still getting back to you now to thank you for your work! 👍
When our tester is back, we'll think about giving you a little paypal ...
Just a quick question ... Would it be possible to remove the step on macOS to do at

[2021-06-22 17:14] ds58 commented on #53
Unfortunately without an Apple developer license ($100/yr) and a proper code signing certificate, there isn't a way to get around this.

If its an absolute requirement, shoot me an email and I'll see what I can do.

[2021-06-22 17:27] ds58 commented on #53
@Gauthierrrr I should also mention that I will be getting an M1 Mac for other projects soon. Probably by next week.

I will be using it to compile CEF for M1 based Macs and updating my fork of MCEF to support them.

Just an FYI if this was also a concern you had since my current fork only supports Intel Macs.

[2021-06-25 08:27] Gauthierrrr commented on #53
Let's say that for personal use it's not disturbing but to send it to the participants of our event it would be good because we have to justify ourselves on the fact that it is not a virus and that they can allow execution etc ... If there really is no way but to pay for a license, which we cannot, we will have to do without ...

[2021-06-25 08:28] Gauthierrrr commented on #53
Ohhhhhh! Niceeeee !!! 😍

[2021-07-07 23:17] ds58 commented on #53
https://github.com/Ruinscraft/mcef/releases/tag/1.12.2-1.31

[2021-08-31 19:06] seanrobison21 commented on #65
I'm having the same issue. I recommend updating the browser as well. Some websites even say the browser is outdated.

[2021-09-01 19:29] ds58 commented on #65
Hi,

I've updated MCEF to include a newer version of the Chromium browser. My release also adds support for macOS and Linux. See https://github.com/Ruinscraft/mcef/releases/tag/1.12.2-1.31

[2021-09-09 20:11] DBPT210 opened #75 "White screen on Windows and MCEF updated"
I have Windows 10 and MCEF-12.2-1.31
For some reason it has a white screen both one singleplayer and multiplayer server.

Wheres a video: https://imgur.com/a/WLOWl14
[client latest.log](https://github.com/montoyo/mcef/files/7139480/latest.log)
[server latest.log](https://github.com/montoyo/mcef/files/7139492/latest.log)

[2021-09-10 10:04] Nlk29 commented on #75
I found a soultion.
just use webdisplays vesion 1.0 and mcef version 0.9 and it should work. ;)

[2021-09-13 12:20] DBPT210 commented on #75
It worked! Thank you so much!
:)

[2021-09-13 12:20] #75 closed, assigned to nobody

[2021-09-14 09:36] Realm07 opened #76 "Is it safe to login to websites using web displays"
Does it track my password and usernames when I type it in?

[2021-09-14 09:41] spannerman79 commented on #76
The project? - No.

MCEF isn't all that secure to begin with when handling SSL/auth/cookie domain (aka `Set-Cookie` )

What people forget is the original scope of what MCEF/Webdisplay intent was.

And that was to be able to display a webpage that didn't require cookies, auth, etc in order for it to be shown.

[2021-09-17 13:28] DZ-IO commented on #57
全issue里只有一个中文有点。。。
另外ruinscraft那一版能不能也做个镜像
url: https://storage.googleapis.com/ruinscraft-mcef-mirror

[2021-09-25 12:48] GaoXanSheng opened #77 "I am a novice developer, please help me clear my doubts"
I created a guicontainer extensions net.minecraft.client.gui.inventory.guicontainer

Then initialize the API call in drawguicontainerforegroundlayer

API api = MCEFApi.getAPI();

I used createbrowser()

And use draw () to try to display the browser. He didn't respond

I am a novice developer, please help me clear my doubts

[2021-10-17 18:17] ichigo3827 commented on #8
Does this work with Chrome Os

[2021-10-17 18:27] ichigo3827 commented on #8
Ive been looking for a way to use this mod on chrome OS bc me and my friend have chromebooks and we cant find a way to use the web display mod bc mcef is not compatible

[2021-10-31 14:06] Alanek201910-sys opened #79 "Screen is white"
OS: Windows 10
Minecraft version: 1.12.2 (forge)
Mods: OpenComputers (core). MC Chromium Embed, OpenComputers, WebDisplays
Screen is white while trying to use webdisplays. And yes i installed the newest version of MCEF.

[2021-11-28 17:11] kmannumber1 opened #80 "White screen"
Hello,

When I try to open YT on webdisplays, a white screen shows up.
How do I fix it?
OS: Windows 10
MC version: 1.12.2

-kmannumber1

[2021-12-26 18:32] Raraph84 opened #81 "Crash on registerJSQueryHandler"
Hi,
I would like to display a web interface in a gui but my game crashes on startup.
This is the error :
[code]
My code :
[code]
Have a good day !

[2022-01-03 09:40] greyXytOP opened #82 "how to play custom videos on this mod (non youtube)"
hello guys i am unable to play any custom video or any other video site like netflix and stuff. can anyone please help me in how to play any videos like in format mp4 or mkv

[2022-01-05 03:43] Jonathan404 opened #83 "Mp4 files not supported?"
Minecraft 1.12.2
WebDisplays 1.0
MCEF 1.32
Windows 10
I tried watching a .mp4 file via Google Drive and it says "this video format is not supported"
Edit: .mkv did the same
Edit 2: Disney+ somewhat works, the webpage will load but selecting something to watch just infinitly loads (or takes 20+ minutes to load, but probably not)
Edit 3: Netflix gives an error shown in the attached photo
![2022-01-0

[2022-01-13 16:08] ItsK1tty commented on #82
Reach out to me on Discord: K1tty#2077

[2022-01-13 16:08] ItsK1tty commented on #83
Reach out to me on Discord: K1tty#2077

[2022-01-13 16:09] ItsK1tty commented on #77
This mod is abandoned by the developer. If you still need help, reach out to me on Discord: K1tty#2077

[2022-01-24 08:52] GaoXanSheng commented on #81
If you want to use the command to open webui, I have implemented a mod
If you want to refer to
Look => https://github.com/GaoXanSheng/WebUI

[2022-03-23 06:54] #77 closed, assigned to nobody

[2022-04-17 20:01] bozoahhniwgia opened #84 "white screen accuring"
white screen, stays white no matter what i do, tried reinstalling and did nothing highly appriciate help

[2022-05-18 18:12] Raraph84 commented on #81
Its good ! Thanks !

[2022-05-18 18:12] #81 closed, assigned to nobody

[2022-05-29 04:45] Ddongddi opened #85 "can't watch youtube streaming"
I can watch youtube videos, but I can't watch youtube streaming.
Is there any methods to watch streaming too?

[2022-05-31 16:36] D3g3n opened #86 "MP4 Solution"
Have there been any solutions to watching mp4 videos on different sites through wd?

[2022-06-09 11:06] wilsontulus commented on #86
Until @montoyo comes back to WebDisplays community, someone named @ds58 forked MCEF and upgraded it to the newer Chromium version (v.100 as of 9 June 2022), and also released macOS and Linux compatible versions.
More details can be found below:
https://github.com/montoyo/mcef/pull/73
https://github.com/ds58/mcef/releases

[2022-06-09 11:11] wilsontulus commented on #58
Until @montoyo comes back to WebDisplays community, someone named @ds58 forked MCEF and upgraded it to the newer Chromium version (v.100 as of 9 June 2022), and also released macOS and Linux compatible versions.
Most Chromium-related issues are solved by downloading his new version of MCEF.
More details can be found below:
https://github.com/montoyo/mcef/pull/73
https://github.com/ds58/mcef/releas

[2022-06-09 11:12] wilsontulus commented on #85
Someone named @ds58 forked MCEF and upgraded it to the newer Chromium version (v.100 as of 9 June 2022), and also released macOS and Linux compatible versions.
Most Chromium-related issues are solved by downloading his new version of MCEF, Until @montoyo comes back to WebDisplays community.
More details can be found below:
https://github.com/montoyo/mcef/pull/73
https://github.com/ds58/mcef/releas

[2022-06-09 11:13] wilsontulus commented on #85
And unfortunately since streaming are mostly using H264 codec, another fork with ffmpeg must be used as well. I couldn't find it at the moment and even @ds58's fork doesnt support H264.

[2022-06-09 11:13] wilsontulus commented on #83
Someone named @ds58 forked MCEF and upgraded it to the newer Chromium version (v.100 as of 9 June 2022), and also released macOS and Linux compatible versions.
Most Chromium-related issues are solved by downloading his new version of MCEF, Until @montoyo comes back to WebDisplays community.
More details can be found below:
https://github.com/montoyo/mcef/pull/73
https://github.com/ds58/mcef/releas

[2022-06-09 11:14] wilsontulus commented on #83
You can't watch DRM-encrypted & paid / subscription-only videos in MCEF, other than DRM and login issues that's just stupid 😅

[2022-06-09 11:16] wilsontulus commented on #83
You can convert your H.264 / MP4 videos to VP9 or WebM to make the videos playable. Alternatively for MP3 / aac audios you can convert them to OGG.

[2022-06-09 11:16] wilsontulus commented on #86
You can convert your H.264 / MP4 videos to VP9 or WebM to make the videos playable. Alternatively for MP3 / aac audios you can convert them to OGG.

[2022-06-09 22:32] ItsK1tty commented on #83
This does not solve his problem though

[2022-06-09 23:29] Ddongddi commented on #85
So do I have to wait for mcef to support h264 codec?

[2022-06-14 16:04] sophienix commented on #85
you cant watch any live streams in the old version it dosnt suport it

[2022-06-14 16:10] ds58 commented on #85
I am working on a completely new mod that supports proprietary codecs which will allow you to watch things such as YouTube livestreams

It isn't finished, or even released. But you can follow the progress here https://github.com/CinemaMod

[2022-06-14 16:12] sophienix commented on #85
ok cool what version

[2022-06-14 16:14] ds58 commented on #85
Currently, 1.18.2, will be updating to 1.19 shortly however

[2022-06-14 16:57] sophienix commented on #85
ok cause i was waiting for a 1.16.5 version of webdisplays mod

[2022-06-14 17:01] sophienix commented on #85
dont know if theres one out there

[2022-06-14 17:05] ds58 commented on #85
There isn't that I am aware of

[2022-06-14 17:06] ds58 commented on #86
I am working on a completely new mod that supports proprietary codecs.

It isn't finished, or even released. But you can follow the progress here https://github.com/CinemaMod

[2022-06-14 17:45] sophienix commented on #85
ah ok

[2022-06-14 18:40] sophienix commented on #85
im sorry but how do i download the mod for minecraft ?

[2022-06-14 18:41] sophienix commented on #85
its like kinda confusing for me sorry

[2022-06-14 18:43] sophienix commented on #85
i havnt seen any thing like this so im new to this type of hub

[2022-06-14 18:47] ds58 commented on #85
As stated, it isn't finished or released.

[2022-06-14 18:48] sophienix commented on #85
oh i didnt read it corectly then sorry lol

[2022-06-14 18:54] sophienix commented on #85
so all this dose just updates the mcef and the webdisplays mod dosnt need to be updated ? sorry one last thing i hope im not annoying you im just slow

[2022-06-19 05:45] Jonathan404 commented on #83
all this did was make miniserv not work anymore

[2022-07-11 16:22] TheRodrixHD commented on #72
I'm using Windows and still have a white screen?

[2022-07-11 16:22] TheRodrixHD opened #87 "White Screen (IN WINDOWS)"
How I can fix this

[2022-07-14 00:57] da5hu commented on #87
hey, I had the same issue. Turns out you need to get version 1.12.2 of MCEF, you need to get only that version in order for it to work.
official page for MCEF: https://montoyo.net/wd3/?modid=mcef
(by the way the mod version must be higher than 0.9, so you will either get 1.11 or 1.11b. *I got 1.11b)

[2022-07-14 00:57] da5hu commented on #87
hey, I had the same issue. Turns out you need to get version 1.12.2 of MCEF, you need to get only that version in order for it to work.
official page for MCEF: https://montoyo.net/wd3/?modid=mcef
(by the way the mod version must be higher than 0.9, so you will either get 1.11 or 1.11b. *I got 1.11b)

[2022-07-14 01:22] da5hu commented on #79
(copied and pasted this below)

hey, I had the same issue. Turns out you need to get version 1.12.2 of MCEF, you need to get only that version in order for it to work.
official page for MCEF: https://montoyo.net/wd3/?modid=mcef
(by the way the mod version must be higher than 0.9, so you will either get 1.11 or 1.11b. *I got 1.11b)

[2022-07-14 01:22] da5hu commented on #80
(copied and pasted this below)

hey, I had the same issue. Turns out you need to get version 1.12.2 of MCEF, you need to get only that version in order for it to work.
official page for MCEF: https://montoyo.net/wd3/?modid=mcef
(by the way the mod version must be higher than 0.9, so you will either get 1.11 or 1.11b. *I got 1.11b)

[2022-07-14 01:23] da5hu commented on #84
(copied and pasted this below)

hey, I had the same issue. Turns out you need to get version 1.12.2 of MCEF, you need to get only that version in order for it to work.
official page for MCEF: https://montoyo.net/wd3/?modid=mcef
(by the way the mod version must be higher than 0.9, so you will either get 1.11 or 1.11b. *I got 1.11b)

[2022-07-14 01:27] da5hu opened #88 "READ ME IF YOU HAVE A WHITE SCREEN ON WINDOWS"
I'm not a mod or anything but I just want to make this clear for everyone who has a white screen on windows

number one: you need to have exactly version 1.12.2 of MCEF
and number two: it has to be a version higher than 0.9

so the only other options left would be version 1.11 and 1.11b
pretty sure 1.11 works as fine as 1.11b (I personally use 1.11b)

download MCEF: https://montoyo.net/wd3/?modid=

[2022-07-15 11:19] #87 closed, assigned to nobody

[2022-08-02 16:21] aaaaaaaaaaaa573 commented on #7
Montoyo, i think you can use virtualbox

[2022-08-02 16:55] aaronliu0130 commented on #7
@aaaaaaaaaaaa573  That would defeat the point. The point of this issue is to compile native cef binaries for mac, not to virtualize it.

[2022-08-02 18:15] aaaaaaaaaaaa573 commented on #7
Oh, I'm not really a coder so I don't really understand

[2022-08-02 18:19] aaronliu0130 commented on #7
Oh do you mean using it to visualize macOS on windows? That is harder than you might think, since that would fall under hackintoshing which isn't very easy. Try searching the term up.

[2022-08-02 18:22] aaaaaaaaaaaa573 commented on #7
Hmmm interesting, I actually searched it up and it's quite interesting

[2022-08-02 18:23] aaaaaaaaaaaa573 commented on #7
Bruh my sense of words is bad

[2022-08-03 12:29] 123485k opened #89 "Update Chromium versiom"
Chromium 75 is to old in today,can i update it to newer version?

[2022-08-07 01:07] gameusefly commented on #89
sure **you** can

[2022-08-07 07:45] #89 closed, assigned to nobody

[2022-08-14 07:44] MangyCat commented on #72
You people still commenting on this?

[2022-08-17 11:24] MangyCat commented on #88
Also Linux and Macos doesnt work, go find a fork that supports Linux

[2022-09-01 13:03] Jaydenha09 opened #90 "can't play youtube video"
I use wine to run minecraft in ubuntu.
[Video](https://1drv.ms/u/s!An264g3RPneYkhRYNzvA9TXEsokr)

[2022-10-23 03:27] Nep-Soundfont commented on #88
MCEF downloads CEF from the internet when loading minecraft with MCEF for the first time (or if a file is missing/damaged), the white screen problem is usually due to those files not existing, if you need a specific download mirror, edit this option the mcef mod config file

doing so will do 1 of 2 things: 1, download CEF from this URL instead of the default (useful for using a local FTP mirror, s

[2022-11-13 20:10] discofalafel opened #91 "Could you add a 1.16.5 Version?"

[2022-11-13 20:11] discofalafel commented on #91
Hello could you add a 1.16.5 Version of the Mod?